<% provide(:title, "About CWDS") %>
<main class="usa-grid usa-section" id="main-content">
	<h2 id="cwds-organization">About CWDS</h2>
	<br/>
	Under Construction!
    <!--
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/CWSCMS_TAAA_Report.pdf">Technical Architecture Alternatives Analysis (TAAA) Report - 23 March 2005</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_A_References_and_Bibliography.pdf">Appendix A - References and Bibliography</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_B_Acronym_Guide.pdf">Appendix B - Acronym Guide</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_C_Alternative_1_Detailed_Cost_Summary.pdf">Appendix C - Alternative 1 - Detailed Cost Summary</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_D_Alternative_2_Detailed_Cost_Summary.pdf">Appendix D - Alternative 2 - Detailed Cost Summary</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_E_Alternative_3_Detailed_Cost_Summary.pdf">Appendix E - Alternative 3 - Detailed Cost Summary</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_F_Baseline_Document.pdf">Appendix F - Baseline Document</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_G_Technical_Methodology_and_Approach_Document.pdf">Appendix G - Technical Methodology and Approach Document</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_H_Function_Point_Analysis_Data.pdf">Appendix H - Function Point Analysis Data</a></p>
        <p><a href="https://github.com/ca-cwds/webdocs/blob/master/Web/About_CWDS/Appendix_I_Alternative_Evaluation_Framework.pdf">Appendix I - Alternative Evaluation Framework</a></p>
    -->
</main>