<% provide(:title, "CWDS to Use ADPQ Vendor Pool") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">CWDS to Use ADPQ Vendor Pool</h2>
        <hr>
        <strong>Sacramento, July 12, 2016:</strong> The California Health and Human Services Agency (CHHSA) has established a pre-qualified pool of vendors who will provide user-centered design and agile software development services.  The Agile Development Pre-Qualified (ADPQ) vendor pool will reduce solicitation time and administrative costs to the State and vendors. Vetting vendors’ qualifications through this new contract vehicle is also expected to significantly accelerate the production of working software.</br>
        </br>
        CHHSA selected eleven vendors who all received assessments of highly qualified based upon their submission of a functioning prototype, working source code, and a narrative description of the technical approach used to create the prototype.</br>
        </br>
        <strong>Accepted Vendors:</strong></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/1-accenture/CHHS-RFI-Web" target="_blank">Accenture</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/3-binti/CHHS_Prototype" target="_blank">Binti, Inc.</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/5-cambria/ADPQRFI-75001" target="_blank">Cambria Solutions</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/6-case/calico" target="_blank">Case Commons</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/8-civic/agile-california" target="_blank">Civic Actions</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/9-deloitte/CaliCares" target="_blank">Deloitte</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/10-engage/chhs-adpq" target="_blank">EngagePoint</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/11-exygy/chhs-carefinder" target="_blank">Exygy</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/15-oliver/CHHS-POC" target="_blank">Oliver Wyman</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/17-portland/chhs-prototype" target="_blank">Portland Webworks</a></br>
        <a href="https://github.com/ca-cwds/CA-ADPQ/tree/master/21-taborda/cws-parent-portal" target="_blank">Taborda Solutions</a><br></br>
        </br>
        CHHSA intends to review the work of contractors via this method and refresh the pool at the beginning of 2017. With the establishment of the ADPQ vendor pool, all CHHS departments are now able to develop and release ADPQ Request for Offers (RFOs) to the pre-qualified vendors.</br>
        </br>
        The Child Welfare Digital Services (CWDS) partnership for the agile development of the Child Welfare Services / Case Management System (CWS/CMS) replacement will be the first organization to use the vendor pool. CWDS intends to release its first request for offer (RFO) in August 2016 using the new contracting vehicle to obtain services for the design and development of the Certification, Approval, and Licensing Services (CALS) of the Child Welfare Services – New System (CWS-NS).</br>
        </br>
        <strong>About CWDS</strong></br>
        Child Welfare Digital Services (CWDS) is headquartered in Sacramento, CA. CWDS is a collaboration of California state and local government agencies that supports its customers through technology services to assure the safety, permanency, and well-being of children at risk of abuse, neglect, or exploitation. Partners include all 58 counties, the California Department of Social Services, Office of Systems Integration, and the County Welfare Directors Association.</br>
        </br>
        <strong>ADPQ Vendor Pool Contact Information</strong></br>
        Amy Cooper</br>
        Office of Systems Integration</br>
        Acquisition and Contracting Services Division</br>
        <a href="mailto:Amy.Cooper@osi.ca.gov">Amy.Cooper@osi.ca.gov</a></br>
        916-263-3264</br>
        </br>
        <strong>References</strong></br>
        <a href="http://www.acf.hhs.gov/">Administration for Children and Families</a><br>
        <a href="http://www.cdss.ca.gov/">California Department of Social Services</a><br>
        <a href="https://cwds.ca.gov">Child Welfare Services/Case Management System - New System</a><br>
</main>