<% provide(:title, "ADPQ Vendor Pool RFI Announcement") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">ADPQ Vendor Pool RFI Announcement</h2>
    <strong><i>5-26-2016: The State has not terminated the ADPQ Vendor Pool RFI. It has been moved from BidSync to Fi$Cal.  See below for the Fi$Cal link.</i></strong></br>
    </br>
    <strong>Related Links:</strong></br>
    <a href="/Portals/0/public/new_system/ADPQ%20Web%20Conf%20Recording%205.13.2016.wmv?ver=2016-05-24-125213-747" target="_blank">ADPQ Web Conf Recording 5.13.2016</a></br>
    <a href="/Portals/0/public/new_system/ADPQ%20Web%20Conf%20Slides%205.13.2016.pdf?ver=2016-05-24-125213-823" target="_blank">ADPQ Web Conf Slides 5.13.2016</a></br>
    <a href="/Portals/0/public/new_system/RFI75001_ADPQ_Vendor_Pool.pdf?ver=2016-05-05-151406-617" target="_blank">RFI#75001 ADPQ Vendor Pool</a></br>
    <a href="https://iam.fiscal.ca.gov/oaam_server/oamLoginPage.jsp?tap_token=v2.0%7EOAAMTAPPartner%7ENEU0MURCQTcxMENFNjY3MzlEMUZGRH4xNUFCMDZFODEyQzE5OUEyNkQ1OEU4RjBFMkU5MkUwNDM5MzhGREQ3fjFFNUQwRDEwQjhEOThCRTVDMjU1MTU4MEVFQzZBODc0fjZBRjAzQTM1QkRGQTU5QjZGNEYwMzdCOUEwQzZDN0VBMjdFQ0RCRDMyRTU4ODM5Q0EyNjA2QkVDRDQ5MTA3RUIwNDA5QTMzNTY2MjYyOUU3RTM0NDg1QkQ3NkFFQ0ZDMjhCOTRCOTBFNTJGMDA0MUU2RkE5N0VFRjIyRkU2QjREODRGQTVCOUI0MUJFQUYwM0NDNkVDNzYwMjIwRDIxMUJFQjg0OTE0OEM4RDYzMDQxRkRFRDE4NzlEM0UwMzVERThDMzkwMzdCOEQzRkE4QzdFQzUyQzI4NUMxRjg4QTRFQTgyMUNEMzhDQTVENDMxRkRFRjA5ODUzOERBRTdFMTc%3D&TapSubmitURL=https%3A%2F%2Fiam.fiscal.ca.gov%3A443%2Foam%2Fserver%2Fdap%2Fcred_submit&authn_try_count=0&contextType=external&TAPPartnerId=OAAMTAPPartner&SERVER_HOST_ALIAS=OAMSERVER&MatchLDAPAttribute=uid&daptoken=string&challenge_url=%2Foaam_server%2FoamLoginPage.jsp&TAPOverrideResource=http%3A%2F%2FIAMSuiteAgent%3A80%2FoamTAPAuthenticate&request_id=2613520997958120637&locale=en_US&resource_url=https%253A%252F%252Fportal.fiscal.ca.gov%252Fpsp%252Fpsppd1%252F%253Fcmd%253Dstart">FI$Cal</a>:
    Reference Event ID 0000001675</br>
    <a href="https://18f.gsa.gov/2015/08/28/announcing-the-agile-BPA-awards/" target="_blank">18F BPA Awards</a></br>
    <a href="http://www.dgs.ca.gov/pd/Programs/Leveraged/CMAS.aspx" target="_blank">CMAS Certification Information</a></br>
    
    <h3>Overview</h3>
    CHHS seeks to establish a pre-qualified vendor pool of up to 15 vendors that will provide the Agency with user-centered design and agile software development services. To facilitate that process, the Agency will establish the pre-qualified vendor pool using a process similar to the federal General Services Agency (GSA) Blanket Purchasing Agreement (BPA) model. Information about the GSA BPA is available at the following site: <a href="https://18f.gsa.gov/2015/08/28/announcing-the-agile-BPA-awards/">https://18f.gsa.gov/2015/08/28/announcing-the-agile-BPA-awards/</a>.</br>
    </br>
    Benefits of establishing a pre-qualified vendor pool include the following:
    <ul>
    	<li>Reduction in solicitation time</li>
    	<li>Ability to review vendors’ user-centered design and agile software development competencies prior to soliciting bids</li>
    	<li> Reduction in administrative costs to the State and vendors</li>
    </ul>
    On behalf of Agency, OSI is partnering with the Department of General Services (DGS), the California Department of Technology (CDT) Statewide Technology Procurement Division (STPD), and the federal GSA 18F consulting team to establish the pre-qualified vendor pool. The process will include:
    <ol>
    	<li>The State releasing this RFI to interested parties, which includes both California Multiple Award Schedule (CMAS) vendors and non-CMAS vendors</li>
    	<li>The State will conduct a vendor Q&A web conference to address vendor questions related to the APDQ vendor pool process</li>
    	<li>In response to the RFI submission requirements, vendors will provide a functioning prototype and a narrative description of the technical approach used to create the prototype</li>
    	<li>The State, with the assistance of 18F, will review each vendor’s prototype and technical approach (e.g., use of user-centered design) to establish a list of highly-qualified vendors to provide user-centered design and agile software development services</li>
    </ol>
    After the initial ADPQ vendor pool has been established, CHHS departments will be able to develop and release ADPQ Request for Offers (RFOs) to the pre-qualified vendors. While a CMAS contract is not required to participate in the ADPQ vendor pool screening process, <strong>all vendors will be required to have a valid CMAS contract using a GSA Federal Supply Schedule 70 base contract prior to responding to ADPQ RFOs.</strong></br>
    </br>
    <h3>Child Welfare Digital Services (CWDS)</h3>
    The first CHHS organization to utilize the ADPQ vendor pool and release ADPQ RFOs will be CWDS, which is replacing the existing Child Welfare Services/Case Management System (CWS/CMS) and Children’s Residential Licensing system as part of the Child Welfare Services – New System (CWS-NS) project by developing a new technology platform and set of digital services that will be incrementally rolled out. These digital services will provide a more intuitive user experience and new capabilities not currently provided by legacy systems they are intended to replace. Digital services will include, but are not limited to the following:
    <ul>
    	<li>Children’s Residential Licensing</li>
    	<li>Case Management</li>
    	<li>Resource Management</li>
    	<li>Court Processing</li>
    	<li>Eligibility</li>
    	<li>Financial Management</li>
    </ul>
    <h3>ADPQ Vendor Pool Key Action Dates</h3>
    Listed below are the RFI Key Action Dates and Times by which actions should be taken or completed.</br>
    <table
    <thead>
    <tr>
    	<th>
    		Event
    	</th>
    	<th>
    		Date / Time
    	</th>
    </tr>
    </thead>
    <tbody>
    	<tr>
    	<td>
    		Release RFI
    	</td>
    	<td>
    		5/5/16
    	</td>
    </tr>
    <tr>
    	<td>
    		Vendor Pool Q&A Web Conference
    	</td>
    	<td>
    		5/13/16
    	</td>
    </tr>
    <tr>
    	<td>
    		Last Day to Submit Questions
    	</td>
    	<td>
    		5/26/16
    	</td>
    </tr>
    <tr>
    	<td>
    		Submission Due Date
    	</td>
    	<td>
    		6/9/16
    	</td>
    </tr>
    <tr>
    	<td>
    		Pre-Qualified Vendor Pool Selection
    	</td>
    	<td>
    		7/13/16
    	</td>
    </tr>
    </tbody>
    </table>
    </br>
    <h3>ADPQ Vendor Pool Contact Information</h3>
    Amy Cooper</br>
    Office of Systems Integration </br>
    Acquisition and Contracting Services Division</br>
    <a href="mailto:Amy.Cooper@osi.ca.gov">Amy.Cooper@osi.ca.gov</a></br>
    916-263-3264</br>
    <h3>ADPQ Vendor Pool Questions</h3>
    Vendors must submit questions regarding the ADPQ vendor pool, via email, by the Last Day to Submit Questions date stated in the Section 3 – Vendor Pool Key Action Dates to the contact listed in Section 7 – ADPQ Vendor Pool Contact Information. Each inquiry shall include the following information:
    <ol>
    	<li> RFI #75001, ADPQ Vendor Pool Question(s) in the subject line of the email</li>
    	<li> Vendor name and contact, phone number, and email address.</li>
    	<li> A description of the subject or issue in question, or discrepancy found.</li>
    	<li> RFI section, page number, or other information useful in identifying the specific problem or issue stated in the in question. </li>
    </ol>
</main>