<% provide(:title, "API") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">Welcome to the Application Programming Interface web page.</h2>
    The API digital service encompasses the delivery of system software, security, cloud-based technical infrastructure, and communications infrastructure to support all CWDS digital services, including solution architecture components, subsystems and system interfaces. It encapsulates existing CWS/CMS (Child Welfare Services/Case Management System) data access to enable rapid and modern development of new user facing software modules. The API will replicate and extend the business rules currently implemented in the CWS/CMS client and server (i.e., Visual Basic 6) and COBOL source code in order to create a collection of RESTful JavaScript Object Notation (JSON) interfaces that allow new digital service modules to extend and interoperate with CWS/CMS. The API digital service will also establish development, continuous integration, and testing standards for all other digital service teams to follow. The Intake digital service will be the first consumer of the API digital service.
    </br></br>
    <strong>Links:</strong></br>
    <a href="https://www.youtube.com/watch?v=OmR-_31NznY&feature=youtu.be">CWDS User Story Training</a></br>
    <a href="https://www.pivotaltracker.com/n/projects/1619261">API Pivotal Tracker Backlog</a></br>
    </br></br>
</main>