<% provide(:title, "API Contract Execution") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">CWDS Executes Contract for API</h2>
    <hr>
    <strong>Sacramento, June 22, 2016:</strong> The California Health and Human Services Agency's (CHHSA) Office of Systems Integration (OSI) has executed a contract with Taborda Solutions, headquartered in Folsom, California, to develop an Application Programming Interface (API) to the existing Child Welfare Services / Case Management System (CWS/CMS). Taborda's software development team is the first to join the Child Welfare Digital Services (CWDS) partnership for the agile development of the CWS/CMS replacement. This API will allow the development of user-facing digital services, including child welfare case intake, licensing, and case management services, while social workers seamlessly continue their work to protect children. These new services will be developed, implemented, and released incrementally over the next few years in order to fully replace the existing system, which is now nearly 20 years old.</br>
    </br>
    "This contract is the first step towards our goal of creating, with county child welfare workers, a simpler, clearer, user-centered digital service to better serve the families who depend on our services,” said California Health and Human Services Agency (CHHSA) Undersecretary Michael Wilkening.</br>
    </br>
    Through a funding partnership between the Administration for Children Youth and Families (ACYF) and the California Department of Social Services (CDSS), these digital services will be developed as a public good: in the open, and the source code made available under an open source license for use by all. By adopting an agile development model CWDS is taking a page from the United States Digital Service (USDS) playbook.</br>
    </br>
    “This demonstration project is an opportunity for the state to re-imagine its procurement process into an agile, user-focused model,” said California Government Operations Agency (GovOps) Secretary Marybel Batjer. “We're excited and proud that the team developed and awarded this contract in a matter of months, rather than years."</br>
    </br>
    The use of agile methods represents a significant change in not only the software development approach but also the way in which the state procures vendor services. To do so has required considerable coordination between GovOps, CHHSA, and the federal government, including ACYF and 18F.</br>
    </br>
    <strong>For Information Regarding Public Record Act Requests</strong></br>
    In response to the level of interest in the CWDS API procurement and the expected high number of public records requests for the core procurement documents related to CWDS/API, a streamlined process for responding to those requests has been developed. Public record requests can be made to the following contact: </br>
    </br>
    Tina M. Keller</br>
    Legal Analyst, Legal Services</br>
    California Department of Technology</br>
    1325 J Street, Suite 1600</br>
    Sacramento, CA 95814</br>
    Phone: 916.324.1738</br>
    Email: Tina.Keller@state.ca.gov </br>
    </br>
    <strong>References</strong></br>
    <a href="https://18f.gsa.gov/" target="_blank">18F</a><br>
    <a href="https://playbook.cio.gov/" target="_blank">US Digital Services Playbook</a><br>
    <a href="http://www.acf.hhs.gov/" target="_blank">Administration for Children and Families</a><br>
    <a href="http://www.cdss.ca.gov/" target="_blank">California Department of Social Services</a><br>
    <a href="https://cwscms.osi.ca.gov/New-System" target="_blank">Child Welfare Services/Case Management System - New System</a>
</main>