<% provide(:title, "CALS Contract Execution") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">CWDS Awards Contract for Certification, Approval, and Licensing Services (CALS) Digital Service</h2>
    <hr>
    <h3>Cambria Solutions Starts January 2017</h3>
    <strong>Sacramento, January 5, 2017:</strong> Child Welfare Digital Services has selected <a href="http://www.cambriasolutions.com/" target="_blank">Cambria Solutions</a> from the California Department of Technology's Agile Development Pre-Qualified (ADPQ) Vendor Pool to develop open-source software that will replace existing and/or provide new children's residential licensing and resource family home approval digital services in the Child Welfare Services - New System. The Certification, Approval, and Licensing Services (CALS) will facilitate the processes and activities related to ensuring that licensed facilities, approved homes, and associated adults meet and maintain required standards.</br>
    </br>
    CALS will support immediate access to the current and necessary information needed to ensure the health, safety, and quality of life for the children and nonminor dependents in licensed facilities and approved homes; increase web services for stakeholders; and assist in the prioritization and management of state and county workload.</br>
    </br>
    CWDS leads the State of California in utilizing open-source software and adopting agile software development principles and practices. Open-source software can be accessed, used, modified and shared by anyone. Agile software development is rooted in user-centered design. Requirements and solutions evolve through collaboration with end users. Agile promotes early delivery of solutions, continuous improvement, and flexibility in an ever-changing environment. </br>
    </br>
    Rather than hiring a single technology vendor to replace the legacy CWS/CMS system all at once, CWDS asks accepted vendors in the <a href="../vendors/">ADPQ Vendor Pool</a> to bid on opportunities to build individual digital services. New child welfare digital services include:</br>
    <ul>
      <li>Intake</li>
      <li>Certification, Approval, and Licensing Services (CALS)</li>
      <li>Case Management</li>
      <li>Resource Management</li>
      <li>Court Processing</li>
      <li>Eligibility</li>
      <li>Financial Management</li>
    </ul>
    These digital services will leverage common features such as user authentication, data validation, and a common database. This approach will put user-centered solutions in the hands of end users faster than the traditional approach, promotes transparency in government, and is fiscally responsible.</br>
    </br>
    Headquartered in Sacramento, CA, Child Welfare Digital Services (CWDS) is a collaboration of California state and local government agencies that supports our customers through technology to assure the safety, permanency, and well-being of children at risk of abuse, neglect, or exploitation.
</main>