<% provide(:title, "CALS") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">Welcome to the Certification, Approval, and Licensing Services (CALS) Digital Service Web Page</h2>
    <strong>CALS Digital Service Vision:</strong></br>
    For state and county workers who ensure that safe and quality licensed facilities and approved homes are available for the children and nonminor dependents who need them, the CALS will facilitate activities related to ensuring that licensed facilities, approved homes and associated adults meet and maintain required standards.  The CALS will be seamless and consistent throughout the state and, unlike the multiple existing systems, support immediate access to the current and necessary information needed to ensure the health, safety, and quality of life for the children and nonminor dependents in licensed facilities and approved homes; increase web services for stakeholders; and assist in the prioritization and management of state and county workload. The CALS will deliver a service that enables each of the 58 county child welfare, probation agencies, and Title IV-E Tribes to make the best, informed decisions regarding the safe placement of children.
    </br></br>
    <strong>CALS Digital Service Scope:</strong></br>
    The CALS Digital Service will deliver several interdependent feature sets including: </br></br>
    1.	CALS Intake – ability to receive, review, and appropriately route information provided or gained from internal and external sources as causes for action.</br></br>
    2.	Home Approval and Licensure (Applications) – automation of the processes of reviewing applications for facility licensure, certification and/or home approval for state and county licensing and approval staff.</br></br>
    3.	Monitoring (Fieldwork) – automation of fieldwork and ongoing monitoring and evaluation activities of state and county licensing and approval personnel.</br></br>
    4.	Oversight Action – ability to record and ensure consistent and appropriate application of the policies and procedures for preventing, addressing, and remedying situations that have resulted or could result in harm or risk of harm to children.</br></br>
    5.	Background Checks and Certification – ability to record, review, ascertain, take action and/or report on background check status and certifications.</br></br>
    6.	Fiscal Management – ability to record and manage revenue generated through annual licensing, probation monitoring, application and orientation fees, as well as civil penalties; also to evaluate and project key cost centers in the licensing and approval enterprise, including tools for estimating program resource needs, by jurisdiction and/or statewide. </br></br>
    
    The CALS scope additionally includes common service requirements to support business and process needs common to more than one of the feature sets identified above. For more information about the CALS scope, and the intended process for design and development, please review the CALS Request for Offer currently in active procurement, at the CWDS Procurements page: </br></br>
    
    <%= link_to 'News', news_url, :class => "usa-nav-link"  %><br /></br>
    Detailed expectations for what will be delivered as the CALS Digital Service will be detailed in “user stories.” Creation and refinement of user stories will be an ongoing process throughout the CALS development process.  <br /><br />
    Please see the Pivotal Tracker links below to view the CALS user stories currently in draft. Generally speaking, user stories on the CALS Development Pivotal Tracker® site will address desired CALS features and functionality; whereas user stories on the CALS Business Pivotal Tracker® site will address work of the business team to support development of CALS features and functions.  <br /><br />
    <a href="http://bit.ly/CWDS_PT_CALS_Dev" target="_blank">CALS Development Pivotal Tracker</a><br />
    <a href="http://bit.ly/CWDS_PT_CALS_Bus" target="_blank">CALS Business Pivotal Tracker</a><br /></br>
    
    <strong>Invitation and Desire for User and Stakeholder Engagement </strong>
    <br />
    CWDS has developed a page to invite and make use of stakeholder feedback on the CALS user stories.  At the CDWS Stakeholder Feedback page (link below), please find links to our Pivotal Tracker® sites and feedback form, as well as training for understanding user stories and the use of Pivotal Tracker and the feedback form.<br /></br>
    <a href="http://bit.ly/CWDS_Stakeholder_Feedback">CWDS Stakeholder Feedback</a></br></br>
    
    
    <strong>User Story Overview</strong></br>
    <a href="https://youtu.be/OmR-_31NznY">CWDS User Story Training</a> </br></br>
    
    <strong>Pivotal Tracker</strong></br>
    <a href="https://youtu.be/3FFbytM9Vrk">CWDS Pivotal Tracker Training</a> </br></br></br></br>
</main>