<% provide(:title, "CWDS Digital Service Development Standards") %>
<main class="usa-grid usa-section" id="main-content">
  <div class="usa-width-two-thirds">
    <h2 id="cwds-digital-service-development-standards">CWDS Digital Service Development Standards</h2>
    
    <p>Detail related to the tools used by the project and the coding, testing and other digital service development guidance is included below.</p>
    
    <p>A transactional service must meet each criteria to pass the Digital Service assessment. If a service doesn’t pass, it won’t appear on the ca-cwds web site.  Digital service standards include the following:</p>
    
    <p><strong>Current Project Tools</strong></p>
    
    <ul>
      <li>
        <p>Pivotal Tracker - An Agile project management and collaboration software that allows teams to collaborate and react to real-world changes instantly. Tracker maintains a prioritized backlog of project deliverables, broken down into small, estimated pieces, called stories. It dynamically groups these stories into fixed segments of time, called iterations, and it predicts progress based on real historical performance (velocity).</p>
      </li>
      <li>
        <p>Slack - Instant messaging, forums, and email all rolled into one app. An online, social-messaging platform for groups. Collaborators can create a team in Slack and then log in to have group or private discussions, share materials, and links with one another, or simply banter.</p>
    
        <p>Slack Guidelines for CWDS Service Delivery Teams are available via the following links:</p>
    
        <p><a href="https://osicagov.sharepoint.com/sites/projects/CWS-NS/Agile/_layouts/15/DocIdRedir.aspx?ID=PROJ-1858604116-63">Slack Usage Procedure and Guidelines</a> defines the use of the basic features of Slack, including:</p>
    
        <ol>
          <li>General Slack Usage</li>
          <li>Channels</li>
          <li>Direct Messages</li>
          <li>Document Collaboration</li>
        </ol>
    
        <p><a href="https://osicagov.sharepoint.com/sites/projects/CWS-NS/Agile/_layouts/15/DocIdRedir.aspx?ID=PROJ-1858604116-60">Slack Channel Creation Procedure</a> provides a guide for project staff in developing new communication channels, including:</p>
    
        <ol>
          <li>Channel Standards</li>
          <li>How to Create a New Channel</li>
          <li>When to Create a New Channel</li>
          <li>Private Channels</li>
        </ol>
      </li>
      <li>
        <p>GitHub - A cloud service that programmers use to store their software projects, share them, and work on them collaboratively in teams.</p>
      </li>
    </ul>
    
    <p>** Digital Service Standards **</p>
    
    <ul>
      <li>Digital Services Playbook - A playbook of key “plays” drawn from successful practices from the private sector and government that, if followed together, will help CWDS build effective digital services.</li>
    </ul>
    
    <p>These are still under development.  They include, but are not limited to:</p>
    
    <ul>
      <li>Coding Standards - Standards that define desired application coding practices including:
        <ul>
          <li>Code development</li>
          <li>Accessibility Review and</li>
          <li>Internal Team Quality Control review.</li>
        </ul>
      </li>
      <li>
        <p>Unit Testing - Developers individually and independently scrutinized the smallest testable parts of an application, called units,  for proper operation.</p>
      </li>
      <li>
        <p>System Testing - Software testing conducted on a complete, integrated system to evaluate the system’s compliance with its specified requirements. System testing falls within the scope of black-box testing which requires no knowledge of the inner design of the code or logic.</p>
      </li>
      <li>
        <p>Continuous Integration (CI) Process - CI is a development practice that requires developers to integrate code into a shared repository several times a day. Each check-in is then verified by an automated build, allowing teams to detect problems early.</p>
      </li>
      <li>User Acceptance Testing - Testing by functional (i.e., business) experts that includes manual tests and manual tests automated to support repeated execution.</li>
    </ul>
  </div>
</main>