<% provide(:title, "FAQ") %>
<main class="usa-grid usa-section" id="main-content">
    <h2>Welcome to the CWDS Frequently Asked Questions site.</h2>  The FAQ will be updated frequently as more questions arrive. 
    </br></br></br>
    
    <div class="usa-accordion">
    <ul class="usa-unstyled-list">
    <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
              Intake
            </button>
            <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
              
            <strong>Question 1:</strong> What decisions has CWDS made regarding Safety and Risk Assessment tools (e.g., SDM)?  Specifically, is the Intake RFP written in such a way that:</br>
    <ul>
    		<li>1. It allows the vendor to choose what risk assessment tool will be included within the Intake digital service?</li></br>
    		<li>2. It will require the risk assessment tool to be embedded in the Intake digital service?</li></br>
    </ul>
    <strong>Response:</strong> The Child Welfare Directors have agreed to use the SDM assessment tool statewide. While the technical solutions for integrating SDM and CWS-NS have not yet been determined, the goal is to provide a seamless solution with bi-directional data exchange between the two.</br></br>
    
    <strong>Question 2:</strong> Will tracking of differential response be part of NS?</br>
    <strong>Response:</strong> To date, all of the primary emergency response social worker activities are being identified as features for the Intake digital service.  Differential response has been identified as one feature; however, no decision has been made as to whether it will be contained in the initial release or a subsequent release.  These decisions will be made as we move through the sprints, work with the vendor, and prioritize the features.
    
            </div>
          </li>
    	  <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-2">
              Technical Platform (API)
            </button>
            <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
              
    		   <strong>Question 1:</strong> During the timeframe when both the current CWS/CMS and the new Intake digital service will be in operation, will users be able to access both systems using a single sign-on?</br>
    
    <strong>Response:</strong> The goal is to allow users to login to CWS/CMS (legacy) and CWS-NS (new) applications using the same ID and password (their current CWS/CMS credentials), but this may require that users login separately to each application.</br></br>
    
    <strong>Question 2:</strong> Will Business Objects be updated as CWS-NS is updated?</br>
    <strong>Response:</strong> Business Objects will continue to be available while New System is in development.  The New System team is evaluating options to include New System data elements in Business Objects, and is researching long term alternatives with the goal of identifying a more modern, easy to use solution for reporting.</br></br>
    
    <strong>Question 3:</strong> How will the help desk work with multiple vendors (dedicated and co-existent counties)?</br>
    <strong>Response:</strong> Our goal is to provide stakeholders with a single help desk contact to address system needs and issues.</br></br>
    
            </div>
          </li>
    	  <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-3">
              Budget/Fiscal
            </button>
            <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
              
    		   <strong>Question 1:</strong> What is the status of the budget allocation for county implementation?</br>
    
    <strong>Response:</strong> The CDSS Fiscal Policy and Budgets Branch is currently reviewing the budget allocation for all county Intake Implementation funding and will communicate to all counties via ACL/CFL when funding information is finalized.
    </br></br>
    Letters addressing Intake Core County budget allocation were sent to the Core Counties on 07/22/2016.  Letters for Licensing Core County budget allocation are anticipated to be sent to the Core Counties in November.
    
    </br></br>
            </div>
          </li>
    	  
    	  
        </ul>
    	
    	
      </div>
</main>