<% provide(:title, "How We Operate") %>
<main class="usa-grid usa-section" id="main-content">

		<div class="styleguide-content usa-content">
			<h2 id="digital-design-standards">Digital Design Standards</h2>

<p>The CWDS Digital Service Standard ensures that digital teams build high quality digital services.</p>

<p>Click  <%= link_to 'here', digital_design_standards_url , :class => "usa-nav-link"  %> for detail related to the tools used by the project and the coding, testing and other digital service development guidance.</p>


		</div>

</main>