<% provide(:title, "Intake Contract Execution") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">CWDS Awards Contract for Intake Digital Services</h2>
    <hr>
    <h3>Case Commons Starts September 2016</h3>
    <strong>Sacramento, September 1, 2016:</strong> Child Welfare Digital Services has selected <a href="http://casecommons.org/about/" target="_blank">Case Commons</a> to develop open-source software that will replace the intake functions of the 20-year old Child Welfare System / Case Management System (CWS/CMS). Intake is the process by which child welfare professionals in California’s county Child Welfare Agencies investigate allegations of child abuse, neglect, and exploitation.</br>
    </br>
    The new Intake Digital Service will be an easy to navigate and efficient way to record and access information regarding child abuse, neglect, and exploitation allegations, investigative finds, and outcomes. The new service will provide comprehensive information that allows child welfare professionals to make timely, informed decisions regarding child safety.</br>
    </br>
    CWDS leads the State of California in utilizing open-source software and adopting agile software development principles and practices. Open-source software can be accessed, used, modified and shared by anyone. Agile software development is rooted in user-centered design. Requirements and solutions evolve through collaboration with end users. Agile promotes early delivery of solutions, continuous improvement, and flexibility in an ever-changing environment. </br>
    </br>
    Rather than hiring a single technology vendor to replace the legacy CWS/CMS system all at once, CWDS will ask the vendors in the State’s recently established Agile Development Pre-Qualified Vendor Pool to bid on opportunities to build individual digital services. New child welfare digital services include:</br>
    <ul>
      <li>Intake</li>
      <li>Certification, Approval, and Licensing Services (CALS)</li>
      <li>Case Management</li>
      <li>Resource Management</li>
      <li>Court Processing</li>
      <li>Eligibility</li>
      <li>Financial Management</li>
    </ul>
    These digital services will leverage common features such as user authentication, data validation, and a common database. This approach will put user-centered solutions in the hands of end users faster than the traditional approach, promotes transparency in government, and is fiscally responsible.</br>
    </br>
    Headquartered in Sacramento, CA, Child Welfare Digital Services (CWDS) is a collaboration of California state and local government agencies that supports our customers through technology to assure the safety, permanency, and well-being of children at risk of abuse, neglect, or exploitation.

</main>