<% provide(:title, "Intake") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">Welcome to the Intake Digital Service Web Page</h2>
    CWDS seeks input from stakeholders to develop digital services that meet users’ needs. To be as open and transparent as possible, this website provides child welfare stakeholders the opportunity to review and comment on the progress and work of the Intake Digital Service. 
    </br></br>
    
    <strong>Intake Digital Service Vision Statement:</strong></br>
    The Intake Digital Service will provide county Child Welfare Agencies an easy to navigate and efficient way to record and access information regarding child abuse, neglect, and exploitation allegations, investigative findings and outcomes.  Unlike the current system, our service will provide a modern user-friendly application which supports our strategy to provide quick, comprehensive information to make timely informed decisions regarding child safety.  
    </br></br>
    
    <strong>Intake Digital Service Scope:</strong></br>
    The Intake Digital Service will provide functionality for the screening, assessment and investigation of suspected child abuse reports up to when a decision is made to remove a child from the home.  Placement and Court related activities, including the detention report, will be covered by the Case Management Digital Service.</br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Intake/CWS-NS_SOW_RFP_OSI_31801_Intake_-_Part_2_-_Exhibit_A_-ADD4.docx">Statement of Work</a> 
    </br></br>
    
    <strong>Comment Expectations:</strong>
    </br>
    The Intake Digital Service team will continue to refine user stories based on stakeholder feedback. 
    Please complete the registration process and review the materials provided outlining the Agile methodology and Pivotal Tracker. </br>Note: You are not required to complete the registration process to provide comments, however, the project will not have the ability to communicate with you if you provide your comment(s) anonymously. 
    
    </br></br>
    Your comments are important to the Intake Digital Service Team.  Due to the rapid pace of software development, the Service Team may not be able to directly respond to each specific comment submitted; however, we anticipate providing responses to requests for feature sets during sprint ceremonies, such as sprint planning and sprint review.  Please see Agile-User Story training link and Pivotal Tracker® training materials below for more information in assisting you to provide feedback to the Intake Digital Services Team.
    
    </br></br>
    <strong>Links:</strong></br>
    <a href="https://www.youtube.com/watch?v=OmR-_31NznY&feature=youtu.be">CWDS User Story Training</a></br>
    <a href="http://bit.ly/CWDS_PT_Intake_Dev">Pivotal Tracker Backlog</a></br>
    </br></br>
    
    We appreciate your interest and willingness to participate in this important endeavor.

</main>