<% provide(:title, "Intake Implementation Bidders' Conference") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization-and-cws-ns-project-news">Intake Implementation Bidders' Conference</h2>
    <hr>
    <strong>Sacramento, June 13, 2016:</strong> The Office of Systems Integration (OSI) would like to invite you to the Bidders Conference for RFP OSI #31885 Intake Implementation Services on June 16, 2016 at 10:00 am PDT. The Bidders Conference will be held at:</br>
    </br>
    Employment Development Department Auditorium</br>
    722 Capitol Mall, 1st Floor</br>
    Sacramento, CA 95814</br>
    </br>
    If you have any questions, please contact Tina Steele at (916) 431-5544 or <a href="mailto: tina.steele@state.ca.gov">tina.steele@state.ca.gov</a>.
</main>