<% provide(:title, "Join CWDS") %>
<main class="usa-grid usa-section" id="main-content">

		<h2 id="cwds-organization-and-cws-ns-project-news">CWDS Job Opportunities</h2>
            <p>Child Welfare Digital Services (CWDS) seeks qualified applicants to shape the future of IT development and to improve the lives of children at risk of abuse and neglect.  Learn about Digital Service Opportunities at the California Department of Technology's github site: <a href="https://github.com/CDTgithub/DigitalServiceOpportunities" target="_blank">CDTgithub</a></p>
		      <div class="usa-alert usa-alert-info">
                <div class="usa-alert-body">
                  <p class="usa-alert-text">Feedback?  Email us at <a href="mailto:CWDSCommunications@cwds.ca.gov">CWDS Stakeholder Relations</a>.</p>
                </div>
              </div>

</main>