<% provide(:title, "Join CWDS") %>
<main class="usa-grid usa-section" id="main-content">
  <div class="usa-width-two-thirds">
		<h2 id="cwds-organization-and-cws-ns-project-news">CWDS Job Opportunities</h2>
    	<p>There are many exciting career opportunities available at Child Welfare Digital Systems (CWDS). With the support of skilled, dedicated employees and the goal to improve the lives of children at risk of abuse and neglect, CWDS employees are committed to working in an agile environment to make this happen.  If you are looking for new challenges and a rewarding profession, then we encourage you to consider a career with us.</p>
	    <p><strong>Current CWDS Job Vacancies:</strong></p>
	    <ul>
	        <li><a href="https://www.jobs.ca.gov/Public/JobPosting.aspx?q=KcwcGCBMtd8tejxHdegL94RN01bWb7Ql6kgZf7qFOaKt%2bhTHhSACImhIJHWx6ZP0rVPKT9ciGqLwWf2DU0Cxz0WmfpcJiNm2%2fZEOpoxOiopxHlrOGi2p9qpaLlaSbrs7Fu4I88ivou4Eb1PknbRxl1omL9xAaJ%2bgSZRhFGrrYqU%3d" target="_blank">Associate Programmer Analyst (Specialist)</a></li>
	    </ul>
    	<p><strong>Other State Career Resources:</strong></p>
    	<ul>
    	    <li><a href="https://jobs.ca.gov/Public/StateForms.aspx" target="_blank">Online State Application</a></li>
    	    <li><a href="https://jobs.ca.gov/Public/Job/Steps.aspx" target="_blank">State Civil Service Process</a></li>
    	    <li><a href="http://www.calhr.ca.gov/employees/Pages/salary-and-benefits.aspx" target="_blank">Compensation and Benefits</a></li>
    	</ul>
    	
    	<p>The California Department of Technology's <a href="https://github.com/CDTgithub/DigitalServiceOpportunities" target="_blank">CDTgithub site</a> describes how digital services are transforming the way the State of California implements technology. The <a href="https://github.com/CDTgithub/DigitalServiceOpportunities#digital-service-team-opportunities" target="_blank">Digital service team opportunities</a> section details skillsets that we are seeking for CWDS. If any of those sounds like you, email <a href="mailto:adrian.farley@state.ca.gov">Adrian Farley</a> with your resume and a note about which opportunity you're applying for. These may or may not correspond to a current open state position or solicitation.</p>
  </div>

</main>