<% provide(:title, "Legislative Reports") %>
<main class="usa-grid usa-section" id="main-content">
    <h1>Legislative Reports</h1>
    <br />
    State of California Assembly Bill 1603 (AB1603), section 26, updated the Welfare and Institutions Code to declare that “the Child Welfare Services-New System (CWS-NS) is the most important system in the state for child welfare services staff to ensure the safety and well-being of California’s children”. The same legislation requires CWDS—as the entity comprised of the California Department of Social Services (CDSS) and the Office of Systems Integration (OSI), in collaboration with the County Welfare Directors Association (CWDA)—to deliver monthly reports and convene a regularly scheduled quarterly forum.
    <br />
    <br />
    <div class="usa-grid">
        <div class="usa-width-one-half">
            <strong><a href="/stakeholders/monthly_reports.html">Monthly Reports</a></strong> include:
            <ul>
                <li>Vacancy rate of approved positions</li>
                <li>Challenges with recruiting and retaining qualified staff</li>
                <li>Challenges with procurement</li>
                <li>Issues and risks</li>
                <li>Progress on the project</li>
            </ul>
        </div>
        <div class="usa-width-one-half">
            <strong><a href="/stakeholders/quarterly_stakeholder_forums.html">Quarterly Stakeholder Forums</a></strong> include:
            <ul>
                <li>Progress on development and implementation</li>
                <li>Expenditures incurred to date</li>
                <li>Significant risks and issues overcome in the last quarter</li>
                <li>Significant risks and issues presently being addressed</li>
                <li>Upcoming project milestones and significant events</li>
                <li>How the agile approach has affected the project’s overall cost and schedule</li>
                <li>How lessons learned can be leverage by other state IT projects</li>
            </ul>
        </div>
    </div>
    <style>
        li {
            margin-bottom: 0em;
        }
    
        ul {
            margin-bottom: 0em;
            margin-top: 1em;
        }
    
            ul li:after, ol li:after {
                margin-bottom: 0em;
            }
    </style>

</main>