<% provide(:title, "Monthly Reports") %>
<main class="usa-grid usa-section" id="main-content">
    <h3>Monthly Legislative Reports</h3>
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateNovember2016.pdf">Child Welfare Digital Services Update</a> (November 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateOctober2016.pdf">Child Welfare Digital Services Update</a> (October 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateSeptember2016.pdf">Child Welfare Digital Services Update</a> (September 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateAugust2016.pdf">Child Welfare Digital Services Update</a> (August 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateJuly2016.pdf">Child Welfare Digital Services Update</a> (July 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateJune2016.pdf">Child Welfare Digital Services Update</a> (June 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateMay2016.pdf">Child Welfare Digital Services Update</a> (May 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateApril2016.pdf">Child Welfare Digital Services Update</a> (April 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWDSUpdateMarch2016.pdf">Child Welfare Digital Services Update</a> (March 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWD-DSUpdateFeb2016.pdf">Child Welfare Digital Services Update</a> (February 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWSDigitalSvcUpdateJan2016.pdf">Child Welfare Digital Services Update</a> (January 2016) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateOctober2015.pdf">Child Welfare Services - New System Update</a> (October 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateSeptember2015.pdf">Child Welfare Services - New System Update</a> (September 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateAugust2015.pdf">Child Welfare Services - New System Update</a> (August 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateJuly2015.pdf">Child Welfare Services - New System Update</a> (July 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateMay2015.pdf">Child Welfare Services - New System Update</a> (May 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NSUpdateApril2015.pdf">Child Welfare Services - New System Update</a> (April 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NewSystemUpdate-March2015.pdf">Child Welfare Services - New System Update</a>&nbsp; (March 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NewSystemUpdate-Feb2015.pdf">Child Welfare Services - New System Update</a> (February 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWS-NewSystemUpdate.pdf">Child Welfare Services - New System Update</a> (January 2015) <br />
    </br>
    <h3>Other Reports</h3>
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/April2015CWSRealignmentReport.pdf">Report To The Legislature Child Welfare Services Realignment: Outcome and Expenditure Data Summary</a> (April 2015 Annual Report) <br />
    Report to the California Legislature: <a href="entres/pdf/CCR_LegislativeReport.pdf">California's Child Welfare Continuum of Care Reform</a>&nbsp;(January 2015) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/CWRealignmentReport2014.pdf">Child Welfare Services Realignment Report </a>&nbsp; (2014) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/Expenditures/RealignedExpenditures2014.pdf">Child Welfare Services Realignment - Attachment A </a>&nbsp;(2014) <br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/NewSystemUpdate-PlanningActivities.pdf">Child Welfare Services New System, Legislative Update on Planning Activities </a><br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/CWS_CMS_AutomationStudyLegislativeRpt.pdf">Child Welfare Services Automation Study </a><br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/Addendum_to_CWS_Automation_Study.pdf">Child Welfare Services Automation Study&nbsp;Addendum </a><br />
    <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/NewFCGroupHomeRequirementsSFY07-08.pdf">New Foster Care Group Home Requirements and Increases in Industry's Costs </a>&nbsp;(Reporting Period SFY 2007 - 2008) <br />
    Report to the Joint Legislative Budget Committee: <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/JLBC_DualAgency2012.pdf">Children Receiving AFDC-FC, Kin-GAP or AAP and Concurrently Receiving Services from a California Regional Center&nbsp; </a>(Reporting period June 2012 - December 2012) <br />
    Report to the Joint Legislative Budget Committee: <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/JLBC_DualAgencySept2013.pdf">Data to Facilitate Legislative Review of the Outcomes of the Dual Agency Program and Payment Changes </a>&nbsp;&nbsp; (Reporting period June 2011 - December 2011) <br />
    Report to the Joint Legislative Budget Committee: <a href="http://www.cdss.ca.gov/cdssweb/entres/pdf/legislature/JLBC_DualAgencyJune2006.pdf">Data to Facilitate Legislative Review of the Outcomes of the Dual Agency Program and Payment Changes </a>&nbsp; (Reporting period June 2006 - December 2006)<br />
</main>    