<% provide(:title, "News") %>
<main class="usa-grid usa-section" id="main-content">

<h2 id="cwds-organization-and-cws-ns-project-news">CWDS Organization and CWS-NS Project News</h2>

<div class="usa-width-two-thirds">

  <h3 id="cwds-selects-oncore-consulting-for-intake-implementation">CWDS Selects OnCore Consulting for Intake Implementation</h3>
  
  <p><strong>Sacramento, January 13, 2016:</strong> CWDS has selected <a href="http://www.oncorellc.com/" target="_blank">OnCore Consulting</a>, based in Folsom, CA, to provide implementation services for the Intake Digital Service. Intake is the process by which child welfare professionals in California’s county Child Welfare Agencies investigate allegations of child abuse, neglect, and exploitation.</p>
  
  <p>The new Intake Digital Service will be an easy-to-navigate and efficient way to record and access information regarding child abuse, neglect, exploitation allegations, investigative findings, and outcomes. The new service will provide comprehensive information that allows child welfare professionals to make timely, informed decisions regarding child safety.</p>
  
  <p>OnCore will assist with the deployment of the Intake service to the Intake user community, which consists of up to 7,000 staff located across the state. Additionally, up to 18,000 additional Child Welfare Services staff (social workers, public health nurses, probation officers, supervisors, and support staff) access Intake information in the course of their daily work. OnCore will join the CWDS Implementation Team to perform a wide array of implementation services:</p>
  
  <ul>
    <li>General Implementation Services</li>
    <li>Organizational Change Management</li>
    <li>System Training (Design, Development, &amp; Delivery)</li>
    <li>Rollout/Go-Live Support</li>
  </ul>
  
  <p>1 CWDS is excited to welcome OnCore onboard as of January 24, 2017, and to being one step closer to putting working software in the hands of our users.</p>
  <hr />
  
  <h3 id="jesse-taggert-joins-cwds-as-our-first-service-design-and-user-research-director">Jesse Taggert Joins CWDS as our First Service Design and User Research Director</h3>
  
  <p><strong>Sacramento, December 27, 2016:</strong> Jesse Taggert will lead and develop user research practices and design across all areas of the project, working closely with CWDS teams and vendors.  Jesse has over 25 years of experience as a design leader, user researcher, ux designer, visual designer, and communications strategist. She is passionate about product strategy, research, user experience design, creative direction, content strategy/communications, and productive stakeholder/client relations. Jesse recently completed a two year engagement serving the federal government as an Innovation Specialist/Strategist at <a href="https://18f.gsa.gov/" target="_blank">18F</a> where she led the consulting group’s design and product strategy. CWDS is excited to have her on board.</p>
  <hr />
  
  <h3 id="cwds-presents-quarterly-update-to-legislature">CWDS Presents Quarterly Update to Legislature</h3>
  
  <p><strong>Sacramento, December 20, 2016:</strong> Child Welfare Digital Services (CWDS) Executives are at the State Capitol today to brief the Joint Health and Human Services Budget Subcommittee on the overall status of the CWDS Child Welfare Services – New System project. Scheduled for 3:00 on the subcommittee’s agenda, CWDS Executives will discuss the project vision and strategy, progress to date, where we are headed, and lessons learned on shifting to an agile development framework.  A copy of the presentation can be found <a href="https://github.com/ca-cwds/webdocs/blob/master/Reporting/CWDS_Quarterly%20Legislature%20Update_2016_FYQ2.pdf" target="_blank">here</a>. The briefing is open to the public. CWDS will be following up today’s briefing by hosting a quarterly stakeholder forum on January 10 to cover this information and more details with our stakeholders at our Sacramento campus or via webinar. See the news item from December 15, 2016, (below) for more information and how to register <strong>by Friday, December 23</strong>.</p>
  <hr />
  
  <h3 id="cwds-to-hold-quarterly-stakeholder-forum">CWDS to Hold Quarterly Stakeholder Forum</h3>
  
  <p><strong>Sacramento, December 15, 2016:</strong> Child Welfare Digital Services (CWDS) will be hosting a Quarterly Stakeholder Forum on 1/10/17 from approximately 9:00 am to 3:00 pm.</p>
  
  <p>This all-day event will be held onsite at the CWDS campus in Sacramento as well as via video conference. The agenda will include a general session with a project update and multiple breakout sessions focusing on Intake, Licensing, Program Policy, Tools, Testing, Implementation, and other project related information.</p>
  
  <p>We will send a detailed agenda once it is final. To register, please complete the following survey <strong>by Friday, December 23</strong> to indicate whether you will be able to join us in person, via webinar, or if you will not be attending, but would like to be included on our mailing list: <a href="https://www.surveymonkey.com/r/CWDSQuarterlyStakeholderForum_2017_01_10">Register for Stakeholder Forum</a>.</p>
  <hr />
  
  
  <h3 id="cwds-plans-kick-off-meetings-for-certification-approval-and-licensing-services">CWDS Plans Kick-Off Meetings for Certification, Approval, and Licensing Services</h3>
  
  <p><strong>Sacramento, December 1, 2016:</strong> CWDS will hold core constituent kick-off meetings for Certification, Approval, and Licensing Services (CALS) in early to mid-December. Participants include Los Angeles, Orange, San Francisco, and San Mateo counties as well as the Community Care Licensing Division (CCLD) of the Department of Social Services (DSS).</p>
  
  <p>The kick-off meetings will welcome aboard these constituents who will work with CWDS in the development and delivery of solutions for resource family home approval and residential facility licensing. These solutions will enable each of the 58 county child welfare, probation agencies, and Title IV-E Tribes to make the best, informed decisions regarding the safe placement of children. The meetings will cover several key topics:</p>
  
  <ul>
    <li>Introduction and Welcome from our Executive Leadership Team (ELT)</li>
    <li>Organization Structure: Building of a structure that is inclusive of the constituents</li>
    <li>What is ‘Agile’?: How the agile methodology provides value to the constituents</li>
    <li>Roles and Responsibilities: How the constituents will participate in development from conception to delivery</li>
  </ul>
  
  <p>Meetings are currently scheduled with Orange and Los Angeles Counties on 12/8/16, and with San Francisco County on 12/13/16. CWDS will also meet with the Community Care Licensing Division (CCLD) of the Department of Social Services (DSS) on 12/15/16. A meeting with San Mateo County is also planned but the date has not yet been set.</p>
  <hr />
  
  <h3 id="cwds-embarks-on-ux-site-visits-for-intake">CWDS Embarks on UX Site Visits for Intake</h3>
  
  <p><strong>Sacramento, October 17, 2016:</strong>  The CWDS Intake Development user experience design (UX) team is in Los Angeles County this week for the first of six user research site visits. These site visits provide user research staff an opportunity to better understand the intake process which includes the investigation of allegations identified on a referral.  User research staff will interview and job shadow both hotline and investigative workers as well as invite feedback on mocks/wireframes related to screening and basic search functionality.  During these visits County leadership will be given the opportunity to express their vision for the Intake Digital Services.  The six core counties for the CWDS Intake Digital Service include Los Angeles, Fresno, Ventura, Santa Cruz, Yolo, and Butte.</p>
  <hr />
  
  <h3 id="cwds-quarterly-stakeholder-forum">CWDS Quarterly Stakeholder Forum</h3>
  
  <p><strong>Sacramento, September 28, 2016:</strong>  The California Department of Social Services (CDSS) will hold a quarterly forum to provide updates on the Child Welfare Services – New System (CWS-NS) project and the progress of the Child Welfare Digital Services (CWDS) team on Thursday, September 29 from 9:00 – 11:00 a.m. at the California State Capitol, room 317.</p>
  
  <p>The forum will include updates on the following topics:</p>
  
  <ul>
    <li>Progress of the CWS-NS development and implementation</li>
    <li>Expenditures incurred to date</li>
    <li>Significant issues and risks overcome in the last quarter and significant issues and risks presently being addressed</li>
    <li>Upcoming project milestones and significant events</li>
    <li>How the agile approach has affected the project’s overall cost and schedule</li>
    <li>How the Department of Technology’s approval and oversight processes are being applied to the agile implementation approach</li>
    <li>How lessons learned from the agile implementation of the CWS-NS project can be leveraged by other state IT projects.</li>
  </ul>
  
  <p>This briefing meets the requirements of AB 1603 (Committee on Budget, Chapter 25, Statutes of 2016) and is open to the general public. A copy of the briefing presentation is available for download here:</p>
  
  <p><a href="https://github.com/ca-cwds/webdocs/raw/master/Reporting/CWDS_Quarterly%20Legislature%20Update_2016_FYQ1.pdf">CWDS Quarterly Stakeholder Forum 2016/17 Q1</a></p>
  <hr />
  
  <h3 id="new-ccwis-regulations-released">New CCWIS Regulations Released!</h3>
  
  <p><strong>Sacramento, June 2, 2016:</strong>  The Administration on Children, Youth and Families (ACYF), an office of the US Department of Health and Human Services (HHS) Administration for Children and Families (ACF), has released the Comprehensive Child Welfare Information System (CCWIS) final rule which replaces the Statewide and Tribal Automated Child Welfare Information Systems (S/TACWIS) rule.  The CCWIS regulations were published in the Federal Register on June 02, 2016 and are available <a href="http://federalregister.gov/a/2016*12509">here</a>.</p>
  <hr />

</div>

<h3 id="latest-tweets">Latest Tweets</h3>
<p><a class="twitter-timeline" href="https://twitter.com/CA_CWDS" data-widget-id="731194959085195264">Tweets by @CA_CWDS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

		<footer class="usa-styleguide-footer">
			<div class="usa-grid">
				<div class="usa-width-one-half">
					<p>Feedback?  Email us at <a href="mailto:CWDSCommunications@cwds.ca.gov">CWDS Stakeholder Relations</a>.</p>
				</div>
				<div class="usa-width-one-half usa-end-row">
				</div>
			</div>

		</footer>
	

</main>