<% provide(:title, "News") %>
<main class="usa-grid usa-section" id="main-content">

	
		<div class="styleguide-content usa-content">
			<h2 id="cwds-organization-and-cws-ns-project-news">CWDS Organization and CWS-NS Project News</h2>

<h3 id="cwds-plans-kick-off-meetings-for-certification-approval-and-licensing-services">CWDS Plans Kick-Off Meetings for Certification, Approval, and Licensing Services</h3>

<p><strong>Sacramento, December 1, 2016:</strong> CWDS will hold core constituent kick-off meetings for Certification, Approval, and Licensing Services (CALS) in early to mid-December. Participants include Los Angeles, Orange, San Francisco, and San Mateo counties as well as the Community Care Licensing Division (CCLD) of the Department of Social Services (DSS).</p>

<p>The kick-off meetings will welcome aboard these constituents who will work with CWDS in the development and delivery of solutions for resource family home approval and residential facility licensing. These solutions will enable each of the 58 county child welfare, probation agencies, and Title IV-E Tribes to make the best, informed decisions regarding the safe placement of children. The meetings will cover several key topics:</p>

<ul>
  <li>Introduction and Welcome from our Executive Leadership Team (ELT)</li>
  <li>Organization Structure: Building of a structure that is inclusive of the constituents</li>
  <li>What is ‘Agile’?: How the agile methodology provides value to the constituents</li>
  <li>Roles and Responsibilities: How the constituents will participate in development from conception to delivery</li>
</ul>

<p>Meetings are currently scheduled with Orange and Los Angeles Counties on 12/8/16, and with San Francisco County on 12/13/16. CWDS will also meet with the Community Care Licensing Division (CCLD) of the Department of Social Services (DSS) on 12/15/16. A meeting with San Mateo County is also planned but the date has not yet been set.</p>
<hr />

<h3 id="cwds-embarks-on-ux-site-visits-for-intake">CWDS Embarks on UX Site Visits for Intake</h3>

<p><strong>Sacramento, October 17, 2016:</strong>  The CWDS Intake Development user experience design (UX) team is in Los Angeles County this week for the first of six user research site visits. These site visits provide user research staff an opportunity to better understand the intake process which includes the investigation of allegations identified on a referral.  User research staff will interview and job shadow both hotline and investigative workers as well as invite feedback on mocks/wireframes related to screening and basic search functionality.  During these visits County leadership will be given the opportunity to express their vision for the Intake Digital Services.  The six core counties for the CWDS Intake Digital Service include Los Angeles, Fresno, Ventura, Santa Cruz, Yolo, and Butte.</p>
<hr />

<h3 id="cwds-quarterly-stakeholder-forum">CWDS Quarterly Stakeholder Forum</h3>

<p><strong>Sacramento, September 28, 2016:</strong>  The California Department of Social Services (CDSS) will hold a quarterly forum to provide updates on the Child Welfare Services – New System (CWS-NS) project and the progress of the Child Welfare Digital Services (CWDS) team on Thursday, September 29 from 9:00 – 11:00 a.m. at the California State Capitol, room 317.</p>

<p>The forum will include updates on the following topics:</p>

<ul>
  <li>Progress of the CWS-NS development and implementation</li>
  <li>Expenditures incurred to date</li>
  <li>Significant issues and risks overcome in the last quarter and significant issues and risks presently being addressed</li>
  <li>Upcoming project milestones and significant events</li>
  <li>How the agile approach has affected the project’s overall cost and schedule</li>
  <li>How the Department of Technology’s approval and oversight processes are being applied to the agile implementation approach</li>
  <li>How lessons learned from the agile implementation of the CWS-NS project can be leveraged by other state IT projects.</li>
</ul>

<p>This briefing meets the requirements of AB 1603 (Committee on Budget, Chapter 25, Statutes of 2016) and is open to the general public. A copy of the briefing presentation is available for download here:</p>

<p><a href="https://github.com/ca-cwds/webdocs/raw/master/Reporting/CWDS_Quarterly%20Legislature%20Update_2016_FYQ1.pdf">CWDS Quarterly Stakeholder Forum 2016/17 Q1</a></p>
<hr />

<h3 id="new-ccwis-regulations-released">New CCWIS Regulations Released!</h3>

<p><strong>Sacramento, June 2, 2016:</strong>  The Administration on Children, Youth and Families (ACYF), an office of the US Department of Health and Human Services (HHS) Administration for Children and Families (ACF), has released the Comprehensive Child Welfare Information System (CCWIS) final rule which replaces the Statewide and Tribal Automated Child Welfare Information Systems (S/TACWIS) rule.  The CCWIS regulations were published in the Federal Register on June 02, 2016 and are available <a href="http://federalregister.gov/a/2016*12509">here</a>.</p>
<hr />

<h3 id="latest-tweets">Latest Tweets</h3>
<p><a class="twitter-timeline" href="https://twitter.com/CA_CWDS" data-widget-id="731194959085195264">Tweets by @CA_CWDS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

		</div>

		<footer class="usa-styleguide-footer">
			<div class="usa-grid">
				<div class="usa-width-one-half">
					<p>Feedback?  Email us at <a href="mailto:CWDSCommunications@cwds.ca.gov">CWDS Stakeholder Relations</a>.</p>
				</div>
				<div class="usa-width-one-half usa-end-row">
				</div>
			</div>

		</footer>
	

</main>