<% provide(:title, "CWDS GitHub Page/Plan Template") %>
<main class="usa-grid usa-section" id="main-content">

		<div class="styleguide-content usa-content">
			<h1 id="accordions">CWDS GitHub Page/Plan Template</h1>
<p>This template is currently under development.</p>

<div class="usa-accordion">
    <ul class="usa-unstyled-list">
    <!--THIS IS WHERE YOU EDIT SECTION ONE-->
    <!--sdfsdf-->
      <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
          Section One - this section has a sample table.
        </button>
        <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
          <table>
    <thead>
      <tr>
	  <!--THIS IS WHERE YOU EDIT THE TABLE COLUMN HEADINGS-->
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
      </tr>
    </thead>
	<!--THIS IS WHERE YOU EDIT THE TABLE ROWS-->
    <tbody>
      <tr>
        <th scope="row">Row 1 text</th>
        <td>Row 1 text</td>
        <td>Row 1 text</td>
      </tr>
      <tr>
        <th scope="row">Row 2 text</th>
        <td>Row 2 text</td>
        <td>Row 2 text</td>
      </tr>
      <tr>
        <th scope="row">Row 3 text</th>
        <td>Row 3 text</td>
        <td>Row 3 text</td>
      </tr>
      <tr>
        <th scope="row">Row 4 text</th>
        <td>Row 4 text</td>
        <td>Row 4 text</td>
      </tr>
    </tbody>
  </table>
        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION TWO-->
      <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-2">
          Section Two - this section has sample headers
        </button>
        <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
          <!--BELOW IS THE CODE FOR HEADING 1-->
          <h1>Heading 1 Example</h1>
          <!--BELOW IS THE CODE FOR HEADING 2-->
          <h2>Heading 2 Example</h2>
          <!--BELOW IS THE CODE FOR HEADING 3-->
          <h3>Heading 3 Example</h3>
          <!--BELOW IS THE CODE FOR HEADING 4-->
          <h4>Heading 4 Example</h4>
          <!--BELOW IS THE CODE FOR HEADING 5-->
          <h5>Heading 5 Example</h5>
          <p>
          This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.
          </p>
        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION THREE-->
      <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-3">
          Section Three - this section has sample lists
        </button>
        <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
        
        <!--BELOW IS WHERE YOU EDIT LIST ITEMS-->

<p class="usa-font-lead">Lists organize written information for users.</p>

<div class="preview">

  <div class="usa-grid">
    <div class="usa-width-one-third">

      <h6 class="usa-heading-alt">Bulleted list</h6>

      <ul style="list-style-type:disc">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

    </div>

    
  </div>
</div>

<!-- END OF LISTS -->

        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION FOUR-->
      <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-4">
          Section Four - this section has sample links
        </button>
        <div id="collapsible-4" aria-hidden="true" class="usa-accordion-content">
        
       <p class="usa-font-lead">Links lead users to a different page or further information.</p>

  <a href="#">This is a link without surrounding text.</a>
  <p><a href="#">This</a> is a text link on a light background.</p>

  <p><a class="usa-color-text-visited" href="#">This</a> is a visited link.</p>

  <p>This is a link which opens in a <a href="#" target="_blank">new tab</a>.</p>

  <div class="usa-background-dark">
    <p><a href="#">This</a> is a text link on a dark background.</p>
  </div>

<!-- Links section end -->
        </div>
		
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION FIVE-->
	  <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-5">
          Section Five
        </button>
        <div id="collapsible-5" aria-hidden="true" class="usa-accordion-content">
          <p>
          This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.
          </p>
        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION SIX-->
	  <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-6">
          Section Six
        </button>
        <div id="collapsible-6" aria-hidden="true" class="usa-accordion-content">
          <h1>Heading 1 Example</h1>
          <p>
          This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.
          </p>
        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION SEVEN-->
	  <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-7">
          Section Seven
        </button>
        <div id="collapsible-7" aria-hidden="true" class="usa-accordion-content">
          <p>
          This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.
          </p>
        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION EIGHT-->
	  <li>
        <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-8">
          Section Eight
        </button>
        <div id="collapsible-8" aria-hidden="true" class="usa-accordion-content">
          <p>
          This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.  This is a sample paragraph for plan content. Continue reading for more information.
          </p>
        </div>
      </li>
	  
    </ul>
	
	<p></p>
<p>Sample Table without using accordion button.</p>
	
	<table>
    <thead>
      <tr>
	  <!--THIS IS WHERE YOU EDIT THE TABLE COLUMN HEADINGS-->
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
      </tr>
    </thead>
	<!--THIS IS WHERE YOU EDIT THE TABLE ROWS-->
    <tbody>
      <tr>
        <th scope="row">Row 1 text</th>
        <td>Row 1 text</td>
        <td>Row 1 text</td>
      </tr>
      <tr>
        <th scope="row">Row 2 text</th>
        <td>Row 2 text</td>
        <td>Row 2 text</td>
      </tr>
      <tr>
        <th scope="row">Row 3 text</th>
        <td>Row 3 text</td>
        <td>Row 3 text</td>
      </tr>
      <tr>
        <th scope="row">Row 4 text</th>
        <td>Row 4 text</td>
        <td>Row 4 text</td>
      </tr>
    </tbody>
  </table>
  </div>

<table>
  <thead>
    <tr>
      <th>First Header</th>
      <th>Second Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Cell</td>
      <td>Content Cell</td>
    </tr>
    <tr>
      <td>Content Cell</td>
      <td>Content Cell</td>
    </tr>
  </tbody>
</table>

<p>This template is a draft.</p>

		</div>

</main>