<% provide(:title, "CWDS Project Management Plans") %>
<main class="usa-grid usa-section" id="main-content">

    <h2 id="cwds-digital-service-development-standards">CWDS Project Management Plans</h2>

    <%= link_to 'Project Management Plan', project_management_plan_url , :class => "usa-nav-link"  %><br />
    <%= link_to 'Risk and Issue Management Plan', risk_and_issue_plan_url , :class => "usa-nav-link"  %><br />
    <%= link_to 'Schedule Management Plan', schedule_management_plan_url , :class => "usa-nav-link"  %><br />
    <%= link_to 'Requirements Management Plan', requirements_management_plan_url , :class => "usa-nav-link"  %>

</main>