<% provide(:title, "CWDS Project Management Plans") %>
<main class="usa-grid usa-section" id="main-content">

		<div class="styleguide-content usa-content">
						<h2>CWDS Project Management Plans</h2>

<a href="https://ca-cwds.github.io/dss/Project_Management_Plan.html" target="_blank">Project Management Plan</a></br>
<a href="https://ca-cwds.github.io/dss/risk_and_issue_plan.html" target="_blank">Risk and Issue Management Plan</a></br>
<a href="https://ca-cwds.github.io/dss/schedule_management_plan.html" target="_blank">Schedule Management Plan</a></br>
<a href="https://ca-cwds.github.io/dss/Requirements_Management_Plan.html" target="_blank">Requirements Management Plan</a></br>




		</div>

</main>