<% provide(:title, "Quarterly Stakeholder Forum Agenda") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization">Quarterly Stakeholder Forum Agenda</h2>
    
    <h3>Tuesday, January 10, 2017</h3>
    <strong>Join Child Welfare Digital Services (CWDS) for our Quarterly Stakeholder Forum on 1/10/17 from 9:00 am to 2:30 pm.</strong></br>
    </br> 
    This all-day event will be held onsite at the CWDS campus in Sacramento as well as via video conference. The agenda will include a general session in the morning with a project update and solution demonstration of functionality developed to date. The afternoon will consists of three breakout sessions focusing on Intake, Program Policy, and the enabling Technology Platform.</br>
    	</br>
    	Location:</br>
    	University of Phoenix</br>
    	2860 Gateway Oaks Drive</br>
    	Sacramento, CA 95833</br>
    	<strong><a href="https://www.google.com/maps/place/2860+Gateway+Oaks+Dr,+Sacramento,+CA+95833/@38.6220979,-121.5212683,17z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x809ad6668f4ddbb9:0x348031ef3aae2d15!2s2860+Gateway+Oaks+Dr,+Sacramento,+CA+95833!2m2!1d-121.5190796!2d38.6220979!3m4!1s0x809ad6668f4ddbb9:0x348031ef3aae2d15!8m2!3d38.6220979!4d-121.5190796" target="_blank">Map & Directions</a></strong>
        </br>
    	</br>
    	<h3>Instructions for Joining the Web Conference</h3>
    	  <div class="usa-accordion">
        <ul class="usa-unstyled-list">
    		<li>
    		<!--THIS IS WHERE YOU EDIT SECTION ONE-->
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-1">
              If participating via WebEx web conference on a computer...
            </button>
            <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
    			<ul>
    			<li>Please use your computer speakers for the audio, if possible, as it is more cost-effective than dialing in via telephone. CWDS has a limited number of telephone minutes per month.</li></br>
    			<li>When you click "Join WebEx Conference", you may be prompted to install an add-in or plug-into your browser. If you do not have administrator rights or simply would prefer not to, you may cancel out of the install and join using a temporary application that does not require installation of software on your workstation.</li>
    			</ul>
    		</div>
    		<li>
    		<!--THIS IS WHERE YOU EDIT SECTION 2-->
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-2">
              If participating on a mobile device...
            </button>
            <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
    			<ul>
    			<li>You may download the WebEx app from the iTunes Store (Apple iOS devices) or the Play Store (Android devices) for free.</li></br>
    			<li>Launch the app and use the event numbers listed below to join for both visual and audio participation.</li>
    			</ul>
    		</div>
    		<li>
    		<!--THIS IS WHERE YOU EDIT SECTION 3-->
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-3">
              If participating by phone to listen to the audio portion <i>only</i>...
            </button>
            <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
    			<ul>
    			<li>Dial 1-877-668-4493</li></br>
    			<li>Use the event numbers listed below.</li>
    			</ul>
    		</div>
    		</ul>
    	</br>
    	</br>
    	<strong>Listen-only Mode & Chat: </strong>All participants will be placed in listen only mode. Those who participate via web conference on a computer or mobile device will have the ability to submit questions by sending a chat message to the event host.</br>
    	</br>
    	<strong>Disconnect between Sessions: </strong>For the breakout sessions, online participants will need to disconnect at the lunch break and reconnect for the start of the breakout sessions. You may choose from any of the three breakouts. All of the sessions will be recorded and available on the <a href="https://www.youtube.com/channel/UCdoOvrtXKH1NacC4T85sADQ" target="_blank">CWDS YouTube Channel</a> after the event so that participants can hear the content from the sessions that they do not attend. Recordings will be posted back on this webpage within a week of the event.</br>
    	</br>
    	<strong>Each WebEx session has a capacity of 200 participants.</strong> Once that capacity is reached, no one else will be able to join the live sessions. In that case, we encourage you to check back on this webpage to watch the recordings. The next live event is tentatively scheduled for Tuesday, April 11, 2017.</br>
    <h3>Agenda</h3>
    <table class="usa-table-borderless">
    <thead>
    <tr>
    	<th>Time
    	</th>
    	<th>Activity
    	</th>
    	<th>Speakers
    	</th>
    	<th>Link to Web Conference
    	</th>
    	<th>Event Number
    	</th>
    	<th>Event Password
    	</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    	<td>9:00-9:45
    	</td>
    	<td>Check-in & Registration
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    </tr>
    <tr>
    	<td>9:45-12:00
    	</td>
    	<td>General Session & Solution Demo
    	</td>
    	<td>Executive Leadership Team: Peter Kelly, Kevin Gaines, Penni Clarke</br>
    	</br>
    	Digital Service Teams
    	</td>
    	<td><a href="https://eval-us.webex.com/eval-us/onstage/g.php?MTID=e9775f2972fa93920cdab644c78617a05" target="_blank">Join Web Conference</a></br>
    	</br>
    	<a href="https://www.surveymonkey.com/r/ZH8LN7B" target="_blank">Provide Feedback</a></br>
    	</td>
    	<td>923 707 090
    	</td>
    	<td>Q1StakeForum
    	</td>
    </tr>
    <tr>
    	<td>12:00-1:00
    	</td>
    	<td>Lunch Break
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    	<td>N/A
    	</td>
    </tr>
    <tr>
    	<td>1:00-2:30
    	</td>
    	<td>Breakout Session - <a href="https://cwds.ca.gov/about/digitalservices/intake.html" target="_blank">Intake</a>
    	</td>
    	<td>Intake Team
    	</td>
    	<td><a href="https://eval-us.webex.com/eval-us/onstage/g.php?MTID=ed32eb200572de9128ab9f5488e52172f" target="_blank">Join Web Conference</a></br>
    	</br>
    	<a href="https://www.surveymonkey.com/r/ZH8LN7B" target="_blank">Provide Feedback</a></br>
    	</td>
    	<td>925 192 952
    	</td>
    	<td>Q1StakeForum
    	</td>
    </tr>
    <tr>
    	<td>1:00-2:30
    	</td>
    	<td>Breakout Session - <a href="https://cwds.ca.gov/about/digitalservices/API.html" target="_blank">Technology Platform</a>
    	</td>
    	<td>Technology Platform Team
    	</td>
    	<td><a href="https://eval-us.webex.com/eval-us/onstage/g.php?MTID=ea7464352cb7e88a758e85957392d70eb" target="_blank">Join Web Conference</a></br>
    	</br>
    	<a href="https://www.surveymonkey.com/r/ZH8LN7B" target="_blank">Provide Feedback</a></br>
    	</td>
    	<td>920 134 988
    	</td>
    	<td>comms4CWDS
    	</td>
    </tr>
    <tr>
    	<td>1:00-2:30
    	</td>
    	<td>Breakout Session - Program Policy
    	</td>
    	<td>Program Policy Team
    	</td>
    	<td><a href="https://eval-us.webex.com/eval-us/onstage/g.php?MTID=e7c1a632a624e57062c4413233d353b1d" target="_blank">Join Web Conference</a></br>
    	</br>
    	<a href="https://www.surveymonkey.com/r/ZH8LN7B" target="_blank">Provide Feedback</a></br>
    	</td>
    	<td>928 986 088
    	</td>
    	<td>4P42zYUg
    	</td>
    </tr>
    </tbody>
    </table>
</main>    