<% provide(:title, "CWDS Quarterly Stakeholder Forum") %>
<main class="usa-grid usa-section" id="main-content">
    <h2 id="cwds-organization">CWDS Quarterly Stakeholder Forum</h2>
    
    <h3>Tuesday, January 10, 2017</h3>
<strong>Child Welfare Digital Services (CWDS) held our Quarterly Stakeholder Forum on 1/10/17.</strong></br>
</br> 
The all-day event was held onsite at the CWDS campus in Sacramento as well as via video conference. The agenda included a general session in the morning with a project update and solution demonstration of functionality developed to date. The afternoon consisted of three breakout sessions focusing on Intake, Program Policy, and the enabling Technology Platform.</br>
</br>
Recordings of each session and the slide decks that were shared are included in the table below.</br>	
<h3>Session Recordings and Materials</h3>
<table class="usa-table-borderless">
<thead>
<tr>
	<th>Time
	</th>
	<th>Activity
	</th>
	<th>Speakers
	</th>
	<th>Session Recordings
	</th>
	<th>Session Materials
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td>9:00-9:45
	</td>
	<td>Check-in & Registration
	</td>
	<td>N/A
	</td>
	<td>N/A
	</td>
	<td>N/A
	</td>
</tr>
<tr>
	<td>9:45-12:00
	</td>
	<td>General Session & Solution Demo
	</td>
	<td>Executive Leadership Team: Peter Kelly, Kevin Gaines, Penni Clarke</br>
	</br>Digital Service Teams
	</td>
	<td><a href="https://www.youtube.com/watch?v=hTxQRpCv7sk" target="_blank">2017 Q1 Stakeholder Forum Main Session</a></br>
	    <a href="https://www.youtube.com/watch?v=MH3NeEpNnfU" tagert="_blank">2017 Q1 Stakeholder Forum Solution Demo (Intake)</a>
	</td>
	<td><a href="https://github.com/ca-cwds/webdocs/blob/master/QSF/CWDS_QSF_20170110_General%20Session.pdf" target="_blank">General Session Slides</a></br>
	<a href="https://github.com/ca-cwds/webdocs/blob/master/QSF/CWDS_QSF_20170110_Solution%20Demo.pdf" target="_blank">Solution Demo Slides</a>
	</td>
</tr>
<tr>
	<td>12:00-1:00
	</td>
	<td>Lunch Break
	</td>
	<td>N/A
	</td>
	<td>N/A
	</td>
	<td>N/A
	</td>
</tr>
<tr>
	<td>1:00-2:30
	</td>
	<td>Breakout Session - <a href="https://cwds.ca.gov/about/digitalservices/intake.html" target="_blank">Intake</a>
	</td>
	<td>Intake Team
	</td>
	<td><a href="https://www.youtube.com/watch?v=kYmtZ17FY0k" target="_blank">2017 Q1 Stakeholder Forum Intake Breakout</a>
	</td>
	<td><a href="https://github.com/ca-cwds/webdocs/blob/master/QSF/CWDS_QSF_20170110_Intake%20Breakout.pdf" target="_blank">Intake Breakout Slides</a>
	</td>
</tr>
<tr>
	<td>1:00-2:30
	</td>
	<td>Breakout Session - <a href="https://cwds.ca.gov/about/digitalservices/API.html" target="_blank">Technology Platform</a>
	</td>
	<td>Technology Platform Team
	</td>
	<td><a href="https://www.youtube.com/watch?v=MvYSlb31q1Y" target="_blank">2017 Q1 Stakeholder Forum Technical Breakout</a>
	</td>
	<td><a href="https://github.com/ca-cwds/webdocs/blob/master/QSF/CWDS_QSF_20170110_Technology%20Breakout.pdf" target="_blank">Technology Breakout Slides</a>
	</td>
</tr>
<tr>
	<td>1:00-2:30
	</td>
	<td>Breakout Session - Program Policy
	</td>
	<td>Program Policy Team
	</td>
	<td><a href="https://www.youtube.com/watch?v=2SqQhXYMeRc" target="_blank">2017 Q1 Stakeholder Forum Policy Breakout</a>
	</td>
	<td><a href="https://github.com/ca-cwds/webdocs/blob/master/QSF/CWDS_QSF_20170110_Program%20Policy%20Breakout.pdf" target="_blank">Program Policy Breakout Slides</a>
	</td>
</tr>
</tbody>
</table>
</main>    