<% provide(:title, "Quarterly Stakeholder Forums") %>
<main class="usa-grid usa-section" id="main-content">
    <h3>Quarterly Stakeholder Forums</h3>
    <h4>Reports to the Legislature</h4>
    Persuant to AB1603, CWDS delivers a quarterly report to the Joint Legislative Budget Committee:</br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Reporting/CWDS_Quarterly%20Legislature%20Update_2016_FYQ2.pdf" target="_blank">CWDS Quarterly Legislature Update FY2016/17 Q2</a> <br />
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Reporting/CWDS_Quarterly%20Legislature%20Update_2016_FYQ1.pdf" target="_blank">CWDS Quarterly Legislature Update FY2016/17 Q1</a> <br />
    </br>
    <h4>Quarterly Stakeholder Forums at CWDS</h4>
    CWDS also convenes a quarterly stakeholder forum onsite at the CWDS campus in Sacramento as well as via video conference that is open to all stakeholders. Topics include a general update on our progress in developing digital services as well as specific topics focused on the individual digital service being developed, program policy, tools, testing, implementation, and other related project information:</br>
    </br>
    <a href="https://cwds.ca.gov/stakeholder-resources/qsf_materials_20170110.html" target="_blank">CWDS Quarterly Stakeholder Forum Session Recordings & Materials - 1/10/2017<a></br>
    <a href="https://cwds.ca.gov/stakeholder-resources/qsf_agenda_20170110.html" target="_blank">CWDS Quarterly Stakeholder Forum Agenda - 1/10/2017</a>
</main>    