<% provide(:title, "Stakeholder Reviews") %>
<main class="usa-grid usa-section" id="main-content">
    <h1>CWDS Sprint Reviews</h1>
    <p>Join Child Welfare Digital Services (CWDS) for sprint reviews to see what we are building!</p>
    <p>A sprint is a regular, time-boxed work cycle during which a team completes work and makes it ready for review by stakeholders. CWDS performs our work in two-week sprints. These reviews are an opportunity for stakeholders to see how we are progressing. The schedule for upcoming sprint reviews is included in the table below in reverse chronological order.</p>	
    <p>If participating via web conference, please mute your microphone. Participants calling into the conference line will be placed in listen-only mode.</p>
    <table class="usa-table-borderless">
    <thead>
    <tr>
    	<th>Date
    	</th>
    	<th>Time
    	</th>
    	<th>Team
    	</th>
    	<th>Link to Web Conference
    	</th>
    	<th>Conference Line
    	</th>
    	<th>Participant Code
    	</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    	<td>12/28/2016 (Wed)
    	</td>
    	<td>1:00-2:00
    	</td>
    	<td>Technology Platform
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/robb.thompson/DSV92NTT" target="_blank">Web Conference</a>
    	</td>
    	<td>877-411-9748
    	</td>
    	<td>7149333
    	</td>
    </tr>
    <tr>
    	<td>12/14/2016 (Wed)
    	</td>
    	<td>3:30-4:30
    	</td>
    	<td>CALS
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/leon.elzie/66FS97NR" target="_blank">Web Conference</a>
    	</td>
    	<td>877-873-8017
    	</td>
    	<td>7529229
    	</td>
    </tr>
    <tr>
    	<td>12/14/2016 (Wed)
    	</td>
    	<td>1:00-2:00
    	</td>
    	<td>Technology Platform
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/robb.thompson/DSV92NTT" target="_blank">Web Conference</a>
    	</td>
    	<td>877-411-9748
    	</td>
    	<td>7149333
    	</td>
    </tr>
    <tr>
    	<td>11/30/2016 (Wed)
    	</td>
    	<td>3:30-4:30
    	</td>
    	<td>CALS
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/leon.elzie/66FS97NR" target="_blank">Web Conference</a>
    	</td>
    	<td>877-873-8017
    	</td>
    	<td>7529229
    	</td>
    </tr>
    <tr>
    	<td>11/30/2016 (Wed)
    	</td>
    	<td>1:00-2:00
    	</td>
    	<td>Technology Platform
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/robb.thompson/DSV92NTT" target="_blank">Web Conference</a>
    	</td>
    	<td>877-411-9748
    	</td>
    	<td>7149333
    	</td>
    </tr>
    <tr>
    	<td>11/16/2016 (Wed)
    	</td>
    	<td>3:30-4:30
    	</td>
    	<td>CALS
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/leon.elzie/66FS97NR" target="_blank">Web Conference</a>
    	</td>
    	<td>877-873-8017
    	</td>
    	<td>7529229
    	</td>
    </tr>
    <tr>
    	<td>11/16/2016 (Wed)
    	</td>
    	<td>1:00-2:00
    	</td>
    	<td>Technology Platform
    	</td>
    	<td><a href="https://meet.lync.com/osicagov/robb.thompson/DSV92NTT" target="_blank">Web Conference</a>
    	</td>
    	<td>877-810-9415
    	</td>
    	<td>3747952
    	</td>
    </tr>
    </tbody>
    </table>
    Note: Some meetings may get canceled at the last minute and may not be available at the time indicated. CWDS will make every effort to keep the calendar as current as possible.</br>
    </br>
    </section> 
</main>    