<% provide(:title, "Stakeholder Resources") %>
<main class="usa-grid usa-section" id="main-content">
	<h2 id="cwds-organization-and-cws-ns-project-news">Welcome to the CWDS Stakeholder Resources Web Page.</h2>
    <p>Below you will find links to valuable stakeholder resources.</p>

    <p><a href="/stakeholders/FAQ"><strong>Frequently Asked Questions Page</strong></a></p>
    
    <p><a href="https://github.com/ca-cwds/webdocs/raw/master/Glossary/CWDS%20Glossary%20Master.pdf"><strong>Project Glossary</strong></a></p>
    
    <p><a href="/stakeholders/stakeholder_feedback.html"><strong>Stakeholder Feedback on Product Development</strong></a></p>
    
    <p><a href="/stakeholders/sprint_reviews.html"><strong>CWDS Sprint Reviews</strong></a></p>
    
    <p><a href="/stakeholders/legislative_reports.html"><strong>Monthly & Quarterly Legislative Reports & Forums</strong></a></p>
</main>