<% provide(:title, "Stakeholder Resources") %>
<main class="usa-grid usa-section" id="main-content">
	<h2 id="cwds-organization-and-cws-ns-project-news">Welcome to the CWDS Stakeholder Resources Web Page.</h2>
    <p>Below you will find links to valuable stakeholder resources.</p>

    <p><strong><%= link_to "Frequently Asked Questions Page", stakeholders_FAQ_url %></strong></p>
    
    <p><a href="https://github.com/ca-cwds/webdocs/raw/master/Glossary/CWDS%20Glossary%20Master.pdf"><strong>Project Glossary</strong></a></p>
    
    <p><strong><%= link_to "Stakeholder Feedback on Product Development", stakeholders_stakeholder_feedback_url %></strong></p>
    
    <p><strong><%= link_to "CWDS Sprint Reviews", stakeholders_sprint_reviews_url %></strong></p>
    
    <p><strong><%= link_to "Monthly & Quarterly Legislative Reports & Forums", stakeholders_legislative_reports_url %></strong></p>
</main>