<% provide(:title, "Stakeholder Feedback") %>
<main class="usa-grid usa-section" id="main-content">
    <h2>Welcome to the CWDS Pivotal Tracker feedback site.</h2></br>  This site contains everything you need to know to use the Pivotal Tracker tool and to provide feedback to the user stories that have been developed by the CWDS teams.  If this is your first visit to the site, please begin by reading the Pivotal Tracker general questions and answers presented below.
    </br></br>
    If you have used this page previously, you can access the feedback form here: <a href="https://cwscms.osi.ca.gov/New-System/Stakeholder-Feedback-Form">Pivotal Tracker User Story Feedback Form</a></br></br>
    
    <div class="usa-accordion">
        <ul class="usa-unstyled-list">
       <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-1">
              What is Pivotal Tracker?
            </button>
            <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
    
              Pivotal Tracker is the online, publicly-accessible tool that CWDS teams currently use to plan, prioritize, and track the completion of their work.  CWDS teams characterize their work in the form of “stories.” Depending on the team and its purpose, a “story” can be written either as a task for the team to complete or as a “user story,” in which case it usually follows the following template:</br>
    “As a (who needs this?), </br>
    I want (what is needed?),</br>
    so that I can (what is the value it will provide?).” </br>
    All CWDS requirements for new software development will be written as user stories with specific criteria to determine when the goals/benefits/values have been achieved.</br></br>
    
    <strong>How is Pivotal Tracker structured?</strong></br>
    Each CWDS team has at least one Pivotal Tracker project site to present the “stories” that the team has identified as its domain to complete.  Non Digital Service teams, such as Implementation, Policy, or the Project Management Office, will typically have only one Pivotal Tracker site. All Digital Service teams (such as Intake, CALS, Case Management, etc.) will have at least one “Business” site and one “Development” site.</br>
    <ul>
    <li>A &ldquo;Business&rdquo; site presents CWDS staff work to support a digital service&rsquo;s development team.&nbsp; The Business site is generally the first to be generated because the first tasks of a CWDS digital service team include preparing a procurement document.&nbsp; Once a procurement is underway, the team writes user stories for the development team that present the requirements for the digital service&rsquo;s features.&nbsp; When development begins, the Business site will reflect CWDS staff research to resolve development vendor issues, track progress of the development, or other tasks necessary to support successful delivery by the development vendor. Most stories in a Business site will be written as tasks to complete.</li></br>
    
    <li>A &ldquo;Development&rdquo; site presents the development vendors&rsquo; work to create, test, and deploy specific features of a digital service.&nbsp; The Development site becomes active once the CWDS team has created user stories for the development vendor to deliver. To understand what features of a specific Digital Service are planned for upcoming delivery, the Development site is the one to view. Most stories in a development site will be written as user stories.</li>
    </ul>
    
    <strong>How does Pivotal Tracker display user stories?</strong></br>
    Pivotal Tracker presents the team’s stories in one of four categories.</br></br>
    	1. “Current” stories are being actively worked in the current two week work cycle, or sprint.</br>
    	2. “Backlog” stories have yet to be started, but have been assigned to be worked in an upcoming sprint.  </br>
    	3. “Icebox” stories have not yet been assigned to an upcoming sprint--which does not mean that they won’t be assigned to an upcoming sprint, only that they haven’t been determined to be ready for work. </br>
    	4. “Done” stories have been completed.
    
    	</br></br>
    
    <strong>What about services that are not currently listed (e.g., Court Processing)?</strong></br>
    Until a Digital Service has a CWDS team seated and operational, there will not be an active Pivotal Tracker site. However, as teams are seated and begin defining their work, their Pivotal Tracker sites will be created and their links will be added to this site.
    
    
            </div>
          </li>
    	  <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-2">
              How do I access the Pivotal Tracker sites?
            </button>
            <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
    
              We have created links that you can use to access the CWDS Pivotal Tracker site of each project team.  Click the link presented below each team name to open their Pivotal Tracker project page.
    </br></br>
    
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_API"><span style="font-weight: bold;">Application Programming Interface (API)</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_CALS_Bus"><span style="font-weight: bold;">Certification Approval and Licensing Services (CALS) - Business</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_CALS_Dev"><span style="font-weight: bold;">Certification, Approval, and Licensing Services (CALS) - Development</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Checks_and_Balances"><span style="font-weight: bold;">Checks and Balances</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Implementation"><span style="font-weight: bold;">Implementation</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Intake_Bus"><span style="font-weight: bold;">Intake - Business</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Intake_Dev"><span style="font-weight: bold;">Intake - Development</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Platform_Integration"><span style="font-weight: bold;">Platform Integration</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Program_Policy"><span style="font-weight: bold;">Program/Policy</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Proj_Mgmt"><span style="font-weight: bold;">Project Management</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Comms"><span style="font-weight: bold;">Stakeholder Relations</span></a></p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;">&nbsp;</p>
    <p style="margin: 0in; font-family: Calibri; font-size: 10.0pt;"><a href="http://bit.ly/CWDS_PT_Web"><span style="font-weight: bold;">Web</span></a></p>
    </br></br>
    
            </div>
          </li>
    	  <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-3">
              How do I provide user story feedback to the CWDS teams?
            </button>
            <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
              We created a feedback form to collect stakeholder feedback.  Navigation is designed to be simple.  Click the following link to access the Feedback Form.  Instructions on the form will provide you with the steps required to complete the form.</br>
    <a href="https://cwscms.osi.ca.gov/New-System/Stakeholder-Feedback-Form">Pivotal Tracker User Story Feedback Form</a>
    </br></br>
            </div>
          </li>
    
    	  <li>
            <button class="usa-button-unstyled"
              aria-expanded="false" aria-controls="collapsible-4">
              Are there any additional training resources for Pivotal Tracker?
            </button>
            <div id="collapsible-4" aria-hidden="true" class="usa-accordion-content">
    
    <strong>User Story Overview</strong></br>
    <a href="https://youtu.be/OmR-_31NznY">CWDS User Story Training</a> </br></br>
    
    <strong>Pivotal Tracker</strong></br>
    <a href="https://youtu.be/3FFbytM9Vrk">CWDS Pivotal Tracker Training</a> </br></br></br></br>
    
            </div>
          </li>
    
        </ul>
    
    
      </div>
</main>