<% provide(:title, "Procurements") %>
<main class="usa-grid usa-section" id="main-content">
	<h2 id="cwds-organization-and-cws-ns-project-news">CWDS Procurements</h2>
     Child Welfare Digital Services (CWDS) has the following procurement opportunities and open contracts. The procurements listed below are subject to the requirements listed in the documentation for each.
    <hr>
    <h2> Bidders’ Library</h2>

	The Bidders' Library contains reference materials, web links, and other documents to support the Child Welfare Services – New System Project’s procurements.</br>
	</br>
	Click the link below to view the CWS-NS Bidders’ Library Access Guide for more information on how to access the Bidders’ Library.
	<a href="https://github.com/ca-cwds/webdocs/blob/master/Web/vendors/Bidders'%20Library%20Access%20Guide.pdf" target="_blank">Bidders’ Library Access Guide</a></br>
	<a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/BL%20Access%20Authorization%20Form_12.1.16%20FINAL.pdf" target="_blank">Bidders’ Library Access Authorization Form</a></br>
	<hr>
    <h2>ADPQ Procurements</h2>
    Please Note: To be considered for ADPQ procurements, the Vendor responding to the RFO must hold a current California Multiple Award Schedule (CMAS) agreement that includes labor categories for the design and development of the service described in the RFO and be an approved vendor on the Agile Development Pre-Qualified (ADPQ) vendor pool list.
    <hr>
    <a href="/vendors/ADPQ_accepted_vendors"><strong>Agile Development Pre-Qualified Vendor Pool</strong></a></br>
    In July 2016, the California Health and Human Services Agency (CHHSA) established a pre-qualified pool of vendors who provide user-centered design and agile software development services. The goal of the Agile Development Pre-Qualified (ADPQ) vendor pool was to reduce solicitation time and administrative costs to the State and vendors. Vetting vendors’ qualifications through this new contract vehicle is also expected to significantly accelerate the production of working software.
	</br>
	CHHSA has since transferred the managing of the ADPQ vendor pool to the California Department of Technlogy (CDT). CDT anticipates releasing a Request for Information (RFI) to refresh the vendor pool and expand the number of qualified vendors from 11 to up to 30 in January 2017. See the links below for more information.
	</br>
	<i>Anticipated Award Date: February 2017</i></br>
	</br>
	<a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/ADPQ%20Vendor%20Pool%20Refresh%20New%20Vendor%20Presentation.pdf" target="_blank">ADPQ New Vendor Pool Refresh Presentation - 12/19/2016<a></br>
	<a href="https://attendee.gotowebinar.com/recording/8319859731309150465" target="_blank">ADPQ New Vendor Pool Refresh Webinar Recording - 12/19/2016<a></br>
	<a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/ADPQ%20Vendor%20Pool%20Refresh%20Incumbant%20Presentation.pdf" target="_blank">ADPQ Incumbent Vendor Pool Refresh Presentation - 12/16/2016<a></br>
	<a href="https://attendee.gotowebinar.com/recording/661156512432308739" target="_blank">ADPQ Incumbent Vendor Pool Refresh Webinar Recording - 12/16/2016<a></br>
	</br>
    <i>Documents from the first vendor pool established July 12, 2016:</i></br>
    </br>
    ADPQ Vendor Debrief Web Conference - 8/25/2016:</br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/ADPQ-Web-Conference-Event-Posting.pdf" target="_blank">+ Vendor Debrief Announcement</a></br>
    <a href="https://www.youtube.com/watch?v=-m5uKC8mhKw&feature=youtu.be" target="_blank">+ Webinar Recording</a></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/ADPQ%20Vendor%20Debrief%20Webinar%20QnA%2008.25.2016.pdf" target="_blank">+ Written Q&A</a></br>
    <a href="/vendors/ADPQ_accepted_vendors" target="_blank">Accepted Vendors - 7/12/2016</a></br>
	<a href="https://github.com/ca-cwds/CA-ADPQ" target="_blank">Submitted Prototype Repositories</a></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/ADPQ%20QnA%20V2%206-7-16%20FINAL.pdf" target="_blank">ADPQ Vendor Pool Q&A - 6/7/2016</a></br>
    <a href="/vendors/ADPQ_vendor_pool_RFI_announcement">ADPQ Vendor Pool RFI Announcement - 5/5/2016</a></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/RFI_75001_ADPQ_Vendor_Pool_050516.pdf" target="_blank">ADPQ Vendor Pool RFI - PDF</a></br>
    <a href="http://bit.ly/caleprocure" target="_blank">ADPQ Vendor Pool RFI - 5/5/2016 (Search for Event ID: 1675, Event Status: Historical)</a></br>
    <hr>
    <%= link_to 'Certification, Approval, and Licensing Service (CALS)', dashboard_CALS_url  %></strong></a></br>
    For State and County Workers who ensure that safe and quality facilities and homes are available for children who need placement, the CALS Suite of Services will enable them to verify and document whether those facilities, homes, and individuals meet and maintain the requirements for quality placement.</br>
    <i>Anticipated Award Date: December 2016</i></br>
    </br>
	<a href="/vendors/CALS_contract_execution">CALS Contract Award</a></br>
    <a href="http://bit.ly/CWDS_CALS_RFO" target="_blank">RFO - 9/16/2016</a></br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/CALS/32051%20CALS%20ADPQ%20RFO%20093016%20Addendum%201.pdf" target="_blank">CALS Addendum 1</a></br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/CALS/32051%20CALS%20ADPQ%20RFO%20100416%20Addendum%202.pdf" target="_blank">CALS Addendum 2</a></br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/CALS/32051%20CALS%20ADPQ%20RFO%20102016%20Addendum%203.pdf" target="_blank">CALS Addendum 3</a></br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/CALS/32051%20CALS%20ADPQ%20RFO%20QnA%20102016%20Set%203%20FINAL.pdf" target="_blank">CALS QnA Set 1 Version 3</a></br>
    <hr>
    <strong>Technology Platform Services 2</strong></br>
    <i>Anticipated Award Date: February 2017</i></br>
    </br>
	<a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/32130%20CWDS%20Platform%202%20RFO%2012152016.docx" target="_blank">RFO 32130 Technology Platform Services</a></br>
	<a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/32130%20CWDS%20Platform%202%20RFO%20Attach%20II-L%20Cost%20Worksheet%2012152016.xlsm" target="_blank">RFO 32130 Technology Platform Services Cost Worksheet</a></br>
	<hr>
    <strong>Case Management</strong></br>
    <i>Anticipated Award Date: TBD</i></br>
    <hr>
    <strong>Court Processing</strong></br>
    <i>Anticipated Award Date: TBD</i></br>
    <hr>
    <strong>Resource Management</strong></br>
    <i>Anticipated Award Date: TBD</i></br>
    <hr>
    <strong>Eligibility</strong></br>
    <i>Anticipated Award Date: TBD</i></br>
    <hr>
    <strong>Financial Management</strong></br>
    <i>Anticipated Award Date: TBD</i></br>
    <hr>
    <h2>Other Procurements</h2>
    The following procurements are not limited to the ADPQ vendor pool. They are subject to the details outlined in the individual procurement documents.</br>
    <hr>
    <strong><%= link_to 'Application Programming Interface (API)', dashboard_API_url  %></strong></a></br>
    The API digital service encompasses the delivery of system software, security, cloud-based technical infrastructure, and communications infrastructure to support all CWDS digital services.</br>
    <i>Award Date: June 22, 2016</i></br>
    </br>
    <a href="/vendors/API_contract_execution">API Contract Award</a></br>
    <a href="https://www.bidsync.com/bidsync-app-web/vendor/links/BidDetail.xhtml?bidid=1992784&returnPage=searchResults" target="_blank">API RFP</a>
    <hr>
    <strong><%= link_to 'Intake', dashboard_Intake_url  %></strong></a></br>
    The Intake Digital Service will provide county Child Welfare Agencies an easy to navigate and efficient way to record and access information regarding child abuse, neglect, and exploitation allegations, investigative findings, and outcomes.</br>
    <i>Award Date: September 1, 2016</i></br>
    </br>
    <a href="/vendors/Intake_contract_execution">Intake Contract Award</a></br>
    <a href="https://www.bidsync.com/bidsync-app-web/vendor/links/BidDetail.xhtml?bidid=1992783&returnPage=searchResults" target="_blank">Intake RFP</a>
    <hr>
    <strong>Services Design & User Research Director Consulting Services</strong></br>
    <i>Award Date: October 31, 2016</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/OSI%20RFO%2032074%20Released%202016-09-23%20Addendum%201%20.pdf" target="_blank">RFO Addendum 1 - 9/23/16</a></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/31970_RFO_Consulting_Services_Addendum_7_05_16%20(1).docx" target="_blank">RFO - 6/16/16</a>
    <hr>
    <strong>Stakeholder Communications</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/RFP%20Stakeholder%20Communications%2012.2.16%20-%20Final%20(as%20released).pdf" target="_blank">RFP (Non IT)- 12/02/16</a></br>
	<a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/Stakeholder_Communications_RFO.pdf" target="_blank">RFO (IT MSA)- 8/02/16 (Cancelled)</a>
    <hr>
    <strong>Intake Implementation</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <%= link_to "Intake Implementation Contract Award", news_url %></br>
	<a href="http://bit.ly/caleprocure" target="_blank">RFP - 8/05/16 (Search for Event Name: Intake Implementation, Event Status: Historical)</a></br>
    <a href="/vendors/Intake_Implementation_bidders_conference">Bidders' Conference Announcement - 6/16/16</a></br>
    <hr>

    <strong>C# and Visual Basic (VB) .Net Programming Services</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Web/RFO%2032139%20Released%2012.01.16.pdf" target="_blank">RFO 32139 (CMAS) - 12/01/16</a></br>
    <hr>
    <strong>Lotus/Domino Programming Services</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Web/32138%20RFO%20Released%202016-12-01.pdf" target="_blank">RFO 32138 (CMAS) - 12/01/16</a></br>
    <hr>
    <strong>Natural/ADABAS Programming Services</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Web/32137%20RFO%20Released%202016-12-01.pdf" target="_blank">RFO 32137 (CMAS) - 12/01/16</a></br>
    <hr>
    <strong>Scrum Master</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Web/OSI%20RFO%2032136%20-%20CWDS-Scrum%20Master%20FINAL%2012%2001%202016%20(as%20released).pdf" target="_blank">RFO 32136 (CMAS) - 12/01/16</a></br>
    <hr>
	<strong>Data Conversion Project Management Services</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/32175%20OSI%20RFO%20Released_2016-12-07.pdf" target="_blank">RFO 32175 (IT-MSA) - 12/01/16</a></br>
    <hr>
	<strong>Enterprise Agile Coaching Services</strong></br>
    <i>Anticipated Award Date: January 2017</i></br>
    </br>
    <a href="https://github.com/ca-cwds/webdocs/blob/master/Procurements/32185%20OSI%20RFO%20Released%202016-12-07.pdf" target="_blank">RFO 32185 (IT-MSA) - 12/01/16</a></br>
    <hr>
    <h2>Other Vendor Forums</h2>
    The following vendor forums were held in December 2015 announcing the change in procurement and development strategy for the Child Welfare Services - New System (CWS-NS) project.</br>
    <hr>
    <strong>Vendor Forum Webinar - 12/18/15</strong></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/12.18.15_Vendor_Forum_Webinar_Slides.pdf" target="_blank">Vendor Forum Webinar Slides</a></br>
    <a href="https://youtu.be/2H3N6rFKQHQ" target="_blank">Vendor Forum Webinar Recording</a>
    <hr>
    <strong>CWS Vendor Forum Webinar - 12/4/15</strong></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/CWS_Vendor_Forum_12.4.2015.pdf" target="_blank">Vendor Forum Slides</a></br>
    <a href="https://github.com/ca-cwds/webdocs/raw/master/Procurements/12.4.15_CWS_Vendor_Forum_In-Person_List.pdf" target="_blank">In-Person Attendee List</a>
    <hr>
    <h2>Department of Technology Project Documents </h2>
    Copies of the Feasibility Study Report and Special Project Reports are available <a href="http://www.cio.ca.gov/Government/IT_Policy/IT_Projects/Details/7df17857-b987-458e-bd9e-1d4fce00f0b1" target="_blank"><u>here</u></a>.</br>
    <p>
        For questions regarding ongoing procurements, please direct your questions to the procurement official listed in the documents. For all other questions, please contact us via email at <a href="mailto:cwdscommunications@cwds.ca.gov">CWDScommunications@cwds.ca.gov</a>.
    </p>
</main>