<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>

<main class="usa-grid usa-section" id="main-content">
  <h1>Update your profile</h1>
    
    <%= render 'form'%>
    <label>Your Existing Role(s)</label>
    <ul>
      <% @roles.each do |role| %>
         <li><%=role.name%></li>
      <%end%>  
    </ul>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
</main>