<% provide(:title, 'All users') %>

<main class="usa-grid usa-section" id="main-content">

<h1>All users</h1>

      
<%= will_paginate %>

<ul class="users">
     <%= render @users %>
</ul>

<%= will_paginate %>
</main>
