// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title {
    margin-bottom: 0;
    
  a:link, a:visited, a:active {
    color: #000;
    text-decoration: none;
  } 
  
  a:hover {
    color: #337ab7;
  }
}

.entry-meta {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 8px;
  margin-bottom: 2em;
  font-size: .713em;
  
  .date {
    color: #2C3E8A;
    padding: 0 0 0 8px;
  }
}

.cat-tags {
  padding-top: 10px;
  font-size: 15px;
  
  a:link, a:visited, a:active {
    color: #2C3E8A;
    text-decoration: none;
  } 
  
  a:hover {
    color: #337ab7;
  }
  
  .category {
    padding: 0 15px 0 0;
  }
}

/* Recent Posts Widget */

.widget ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.widget ul li {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 15px;
}
.widget ul li:first-child {
  border-top: none;
}
.widget ul li a {
  color: #2C3E8A;
  text-decoration: none;
}
.widget ul li a:visited {
  color: #2C3E8A;
}
.widget ul li a:hover, .widget ul li a:focus, .widget ul li a:active {
  color: #337ab7;
}
