<% provide(:title, 'All users') %>

<main class="usa-grid usa-section" id="main-content">

<h1>All users</h1>

<%= button_to 'Create New User', new_admin_user_path, :method => :get %>      
<%= will_paginate %>

<ul class="users">
     <%= render @users %>
</ul>

<%= will_paginate %>
</main>
