<% provide(:title, "CWDS Project Management Plan") %>
<main class="usa-grid usa-section" id="main-content">

		<div class="styleguide-content usa-content">
<h2>CWDS Project Management Plan</h2>

<p>This page is currently under development</p>

  <div class="usa-accordion">
    <ul class="usa-unstyled-list">
      <li>
	  <!--THIS IS WHERE YOU EDIT CHAPTER ONE-->
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-1">
          Chapter 1: Introduction
        </button>
        <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
		<h3>1.1 Purpose</h3></br>
		<p>The Project Management (PM) Plan (hereafter called the PM Plan) describes how the project will be executed, monitored, and controlled, as well as will focus on activities that establish the day-to-day operational execution of the CWDS NS project.  The initial activity will be the development, communication, and management of the project plans and procedures that provide the project management framework for both the Child Welfare System – New System (CWS-NS) Project and the Child Welfare Services Case Management System (CWS/CMS). </br></br>
The PM Plan focuses on agile delivery, Project Team, and Project Stakeholders with a working guide on how the Child Welfare Digital Services (CWDS) manages activities throughout the project lifecycle.</br></br>
The PM Plan identifies the various elements of the project and their coordination.  It also establishes the framework for integrating and managing some of the various project focus areas.
</p>

<h3>1.2	Scope</h3></br>

		
<p>The Project establishes activities / events using six simple steps; initiating, planning, sprinting, reviewing, retrospective, and closing; as well as the management of unanticipated tasks, the project schedule, and lessons learned throughout the project activities.  To assist with the comprehension of the scope, it is necessary to understand how the CWDS executes project management processes.</br></br>
While agile defines the framework for project execution, ancillary project management plans are required to complete the definition to the approach, responsibilities, and sub-processes of the project management process.

</p>  

<h3>1.3	Assumptions and Constraints</h3></br>

<body lang=EN-US style='tab-interval:.5in'>

<div class=WordSection1>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=390 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;background:#D9D9D9;mso-background-themecolor:
  background1;mso-background-themeshade:217;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b style='mso-bidi-font-weight:
  normal'>Assumptions<o:p></o:p></b></p>
  </td>
  <td width=390 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b style='mso-bidi-font-weight:
  normal'>Constraints<o:p></o:p></b></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
  <td width=390 valign=top style='width:233.75pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-top:3.0pt;margin-right:0in;
  margin-bottom:6.0pt;margin-left:.5in;mso-add-space:auto;mso-list:l1 level1 lfo2'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]>Subscribe to the PM framework for both PMBOK
  and CA-PMF as well as PM best practices and OSI guidelines.<o:p></o:p></p>
  </td>
  <td width=390 valign=top style='width:233.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpLast style='margin-top:3.0pt;margin-right:0in;
  margin-bottom:6.0pt;margin-left:.5in;mso-add-space:auto;mso-list:l1 level1 lfo2'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]>PMP is a high level summary document and that
  there are ancillary or supplemental plans that explain each primary PM
  process in detail.<o:p></o:p></p>
  </td>
 </tr>
</table>
</body></div>	

<h3>1.4	Integration with other CWDS Plans</h3></br>	
<strong>Project References</strong></br>
The project is using OSI's CWDS SharePoint for its document repository.  For the purposes of information sharing and transparency, the project is using the following tools:</br>
<a href="https://www.pivotaltracker.com/n/projects/1505402">Pivotal Tracker</a> for its Sprint planning and execution.</br> 
<a href="https://slack.com/">Slack</a> is used for enhanced open communication. 


<h3>1.5	References including Subsidiary Plans and Procedures</h3></br>
<p>
All Plans and Procedures associated with this project are maintained on the OSI CWDS SharePoint Project Management subsite, as well as the draft <a href="https://ca-cwds.github.io/">CWDS Github site.</a>  While the review of these plans and procedures occur on a periodic basis, procedures are subject to change more frequently without the need to re-baseline the entire document.  As of the latest version of this plan, the following plans are hereby incorporated:</br></br>

<strong>Project Charter</strong></br>
The Project Charter is the document the formally authorizes the existence of a project and provides the Project Director with the authority to apply organizational resources to project activities. 
</br></br>
<strong>Change Management Plan</strong></br>
Change Management Plan is the process of managing changes to project artifacts, application code, deliverables, or baselines at a strategic, tactical, and operational level.  The purpose of this Change Management Plan is to establish a standard approach for the approval and tracking of proposed changes for the project. 
</br></br>
<strong>Configuration Management Plan</strong></br>
Documents the standards and processes to manage the repository of CWS-NS baselined artifacts (documents, product deliverables, and historical information).
</br></br>
<strong>Contract Management Plan</strong></br>
The purpose of the Contract Management Plan is to provide the processes and procedures to ensure the project meets all contractual obligations and maintains the contract during its lifetime.  
</br></br>
<strong>Communication Management Plan</strong></br>
This Communication Management Plan describes the specific framework for sharing information in a timely manner with all stakeholders and developed to ensure that internal and external stakeholders are informed of the project’s goals, objectives, status, schedule, and outputs. 
</br></br>
<strong>Cost Management Plan</strong></br>
The Cost Management Plan documents the processes and guidelines for ensuring the project is completed within budget and adheres to all applicable State and federal regulations pertaining to cost management. 
</br></br>
<strong>Deliverables Management Plan</strong></br>
The purpose of the Deliverables Management Plan is to facilitate the timely review and approval of contractor deliverables; to ensure deliverables are tracked and all events are recorded; and to ensure a copy of each deliverable and all supporting materials are archived in the Project Library.  Deliverable management is necessary to ensure the Project only accepts deliverables that meet contract requirements.  
</br></br>
<strong>Document Management Plan</strong></br>
The purpose of the Documents Management Plan is to capture how document management is defined for the project, as well as how internal Project documentation is developed and reviewed.  Document Management is the process of organizing, storing, protecting, and sharing documents.  This plan describes how to manage the hard copy and electronic repositories of documents, historical information, and provides a consistent approach to the creation, update, and format of documents.  
</br></br>
<strong>External Systems Management Plan</strong></br>
The External Systems Management Plan provides a framework to identify the business processes that are missing from CWS/CMS, having been implemented in external systems.  The relevant data resident in the external systems will be identified, analyzed, and eventually migrated, archived or decommissioned.  By identifying the missing business processes, the operational capabilities of the project can be validated to ensure it will support the decommissioning of these external systems and can integrate any existing data in the new repository. 
</br></br>
<strong>Governance Plan</strong></br>
The Governance Plan describes the Governance Plan for the Project.  The purpose of the Governance Plan is to describe the specific roles and responsibilities of the project participants involved in executing the project, and its stakeholders, focusing primarily on authority level and decision-making structure.  While some high-level roles and responsibilities are discussed in the Project Charter and/or the Interagency Agreement (IAA), the Governance Plan contains the details.  
</br></br>
<strong>Human Resource / Staff Management Plan</strong></br>
The purpose of the HR Staff Management Plan is to capture ‘how’ the Project will manage staff resources throughout the life of the Project. This plan defines the staff management activities necessary to ensure that the Project has sufficient staff possessing the correct skill sets and experience to perform Project activities and tasks.
</br></br>
<strong>Interface Management Plan</strong></br>
There are information exchange interfaces that do not exist in CWS/CMS that can aid users and significantly enhance investigation, case management, and service delivery efficiency.  The Project plans to evaluate these interfaces as part of the new solution to take advantage of these efficiencies.  Interface Management Plan
</br></br>
<strong>Procurement Management Plan</strong></br>
The purpose of the Procurement Management Plan is to identify the tasks and activities to be performed to procure goods and services for the Project.  This Plan documents the scope, content, methodology, sequence, and responsibilities for systematically and efficiently procuring goods and services to maximize best value to the state at the lowest risk while complying with state contracting laws and regulations.  
</br></br>
<strong>Quality Management Plan</strong></br>
The primary purpose of the Quality Management Plan is to define how quality will be managed throughout the project lifecycle in the following areas; Quality Planning, Quality Assurance, Quality Control, and Quality Improvement.  
</br></br>
<strong>Requirements Management Plan</strong></br>
The Requirements Management Plan identifies the process used to plan, develop, monitor, and control requirements in all stages of a project’s lifecycle. This document is the foundation for all project requirement management policies for the Project.  
</br></br>
<strong><a href="https://ca-cwds.github.io/dss/risk_and_issue_plan.html">Risk and Issue Management Plan</a></strong></br>
Documents the R&I Management Plan used to identify and mitigate CWS-NS Project risks that may affect the project or stakeholders and issues that are influencing the project or stakeholders.
</br></br>
<strong><a href="https://ca-cwds.github.io/dss/schedule_management_plan.html">Schedule Management Plan</a></strong></br>
The Schedule Management Plan covers the approach to how data in the two platforms comes together to provide overall high-level project status.  The Plan addresses the steps to develop, manage, track, analyze, and control the project master schedule, and how effort recorded in Pivotal Tracker is represented in the Master Schedule.  
</br></br>
<strong>Stakeholder Management Plan</strong></br>
The Stakeholder Management Plan documents the formal stakeholder management processes of the project.  This plan describes the specific framework for identifying the people, groups, and organizations that could impact or be impacted by the project, analyzing their expectations and impact on the project, and developing strategies for effectively engaging stakeholders in project decisions and execution.  
</p>

<h3>1.6	Document Maintenance</h3></br>

<p>With the practice of the PM Plan; revisions, improvements, and updates will occur through each phase of the project lifecycle and the Lessons Learned efforts.  A minor version change does not change the intent of the document and consists of spelling, grammatical and minor corrections. A major version is when a document’s content is changed and represents a change in intent, change in process, or procedures. Please refer to the CWDS Configuration Management for further detail on version control.</br></br>
During development of this PM Plan, the guidelines and standards provided through the Project Quality Management Plan will apply; specifically all peer review requirements must be met.
</p>

        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT CHAPTER TWO-->
      <li>
        <button class="usa-button-unstyled"
            aria-expanded="false" aria-controls="collapsible-2">
          Chapter 2: Roles and Responsibilities
        </button>
        <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
	<p>It takes a cooperative team of employees, consultants, and comtractors to complete a project.  While the Governance Plan describes the specific roles and responsibilities of the project participants and some high-level roles and responsibilities are discussed in the Project Charter, the below chart outlines some Agile project teams roles:</p>
	
<body lang=EN-US style='tab-interval:.5in'>
<div class=WordSection1>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=666
 style='width:499.25pt;border-collapse:collapse;border:none;mso-border-alt:
 solid #A6A6A6 .5pt;mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;
 mso-border-insideh:.5pt solid #A6A6A6;mso-border-insidev:.5pt solid #A6A6A6'>
 <thead>
  <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:.3in'>
   <td width=133 style='width:100.05pt;border:solid #A6A6A6 1.0pt;mso-border-alt:
   solid #A6A6A6 .5pt;background:#1B4675;padding:0in 5.4pt 0in 5.4pt;
   height:.3in'>
   <p class=MsoNormal align=center style='margin-top:3.0pt;margin-right:0in;
   margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center'><b
   style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
   font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
   mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
   mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
   mso-bidi-theme-font:minor-bidi;color:white;mso-themecolor:background1'>Role<o:p></o:p></span></b></p>
   </td>
   <td width=532 style='width:399.2pt;border:solid #A6A6A6 1.0pt;border-left:
   none;mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
   background:#1B4675;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
   <p class=MsoNormal align=center style='margin-top:3.0pt;margin-right:0in;
   margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center'><b
   style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
   font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
   mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
   mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
   mso-bidi-theme-font:minor-bidi;color:white;mso-themecolor:background1'>Responsibility<o:p></o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tr style='mso-yfti-irow:1;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>ELT</p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Provides executive intervention
  to overcome organizational roadblocks. Key in driving the project goals and
  objectives to align with the organization’s strategic direction.</p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Development Team</p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Group of people who do the work
  of creating a product.<span style='mso-spacerun:yes'>  </span>Programmers,
  testers, designers, writers, and anyone else who has a hands-on role in
  product development is a member of the development team.</p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Product Owner </p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Responsible for bridging the gap
  between the customer, business stakeholders, and the development team.<span
  style='mso-spacerun:yes'>  </span>The product owner is an expert on the
  product and the customer's needs and priorities.<span
  style='mso-spacerun:yes'>  </span>The product owner works with the development
  team daily to help clarify requirements.<span style='mso-spacerun:yes'> 
  </span>The Product Owner approves all the artifacts and deliverables.<span
  style='font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Scrum Master</p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Responsible for supporting the
  team, clearing organizational roadblocks, and keeping the agile process
  consistent.</p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Stakeholders</p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Anyone with an interest in the
  project.<span style='mso-spacerun:yes'>  </span>Stakeholders are not
  ultimately responsible for the product, but they provide input and are
  affected by the project's outcome.<span style='mso-spacerun:yes'>  </span>The
  group of stakeholders is diverse and can include people from different
  departments, or even different companies.</p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid #A6A6A6 1.0pt;
  border-top:none;mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-alt:solid #A6A6A6 .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>Agile Mentor / Coach</p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-left-alt:solid #A6A6A6 .5pt;
  mso-border-alt:solid #A6A6A6 .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'>The agile mentor can provide valuable
  feedback and advice to new project teams and to project teams that want to
  perform at a higher level.<span style='mso-spacerun:yes'>  </span>The coach
  has experience implementing agile projects and can share that experience with
  a project team.<span style='mso-spacerun:yes'>  </span></p>
  </td>
 </tr>
</table></div></body>

</br><p>In addition, the project team formed into functional areas to allow for focused effort.  The below chart outlines some of the areas:</p>

<body lang=EN-US style='tab-interval:.5in'>

<div class=WordSection1>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=666
 style='width:499.25pt;border-collapse:collapse;border:none;mso-border-alt:
 solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
 <thead>
  <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:.3in'>
   <td width=133 style='width:100.05pt;border:solid windowtext 1.0pt;
   mso-border-alt:solid windowtext .5pt;background:#1B4675;padding:0in 5.4pt 0in 5.4pt;
   height:.3in'>
   <p class=MsoNormal align=center style='margin-top:3.0pt;margin-right:0in;
   margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center'><b
   style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
   font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
   mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
   mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
   mso-bidi-theme-font:minor-bidi;color:white;mso-themecolor:background1'>Role<o:p></o:p></span></b></p>
   </td>
   <td width=532 style='width:399.2pt;border:solid windowtext 1.0pt;border-left:
   none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
   background:#1B4675;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
   <p class=MsoNormal align=center style='margin-top:3.0pt;margin-right:0in;
   margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center'><b
   style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
   font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
   mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
   mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
   mso-bidi-theme-font:minor-bidi;color:white;mso-themecolor:background1'>Responsibility<o:p></o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tr style='mso-yfti-irow:1;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Project Management Office</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin;color:black;mso-bidi-font-style:italic'>Facilitates
  the creation and maintenance of standards and methods, centralized archive of
  lessons learned, project web site, consult and mentor on methodology, and provide
  or arrange PM training.</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Facilities, Administration,<span
  style='mso-spacerun:yes'>  </span>and Business Services</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Provides consistent and excellent
  customer service to all internal and external customers for the CWDS
  Project.<span style='mso-spacerun:yes'>  </span>Ensures our new facility will
  provide staff with a collaborative and agile work environment, which supports
  our strategy to build an innovative CWS system.</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Program Policy Team</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Tracks, analyzes, and facilitates
  resolution of policy issues.<span style='mso-spacerun:yes'>  </span></span><span
  style='font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Implementation Team</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Guides user organizations through
  the steps necessary to adopt new services.</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Budget, Fiscal, and Reporting Team</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Provides financial reporting
  information to internal and external stakeholders for the CWDS Project.</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Procurement Team</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Provides the CWDS organization with
  expert contract and procurement services and support to ensure the CWDS goals
  and objectives are met.</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7;height:.3in'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Technology Service Delivery Team</span><o:p></o:p></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:.3in'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Responsible for Technology
  Platform,<span style='mso-spacerun:yes'>  </span>which provides overall
  technical Vision, identifying technical standards, and guidelines, and
  providing technical over sight assistance Dev/Ops,</span><o:p></o:p></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>API<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Responsible to create the API that
  will allow Digital Services to access data in both the existing CWS/CMS
  database and in the new data storage that will support new system
  functionality.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Data Management Team<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Responsible to move data to and from
  the CWS/CMS database, data clean-up, responds to new data requests, and
  addresses reporting issues from all legacy system stakeholders<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>System Administration and
  Infrastructure<span style='mso-spacerun:yes'>  </span>Team<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Manages Service Level Agreements
  (SLAs) with the State Data Center.<span style='mso-spacerun:yes'>  </span>Assures
  documented SLAs remain current and are adhered to by the SDC Service areas.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin;color:black'>Change Configuration
  Release Team</span><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin;color:black'>Provides the most
  up-to-date and accurate information available to support the Oversight
  Committee decisions and assures the Project Schedule is maintained.</span><span
  style='font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Technical Delivery Services<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Provides support to the legacy LAN,
  WAN, hardware, and software across Windows, Mainframe, Midrange, and Citrix environments.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Legacy Design, Development and Test
  Team<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Manages the execution of all legacy
  application related changes to include all postproduction deployment
  activities and assists the Change Configuration Release Team in the planning
  and development of all activities concerning legacy application.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Dev/Ops<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Manages the culture, movement, or
  practice that emphasizes the collaboration and communication for both
  software developers and other legacy application, while automating the
  process of software delivery and infrastructure changes.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15;mso-yfti-lastrow:yes'>
  <td width=133 valign=top style='width:100.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Web Management Team<o:p></o:p></span></p>
  </td>
  <td width=532 valign=top style='width:399.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><span style='font-family:"Calibri","sans-serif";
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin;color:black'>Supports the Business
  Objects (BO) web server and assists counties with their reporting needs and maintains
  the CWS/CMS Portal website and applications.</span><span style='font-family:
  "Calibri","sans-serif";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>
	
</div>
        
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION THREE-->
      <li>
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-3">
          Chapter 3: Project Management Plan Approach
        </button>
        <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
        
        <p><h3>3.1 Approach</h3></br>
		The Project Director has the overall authority and responsibility for managing and executing this project according to this Project Plan and its Subsidiary Management Plans.  The project team will consist of personnel from the service groups, quality control/assurance analyst, schedule specialist, agile coach, and development vendors.  The project director will work with all resources to perform project planning.  All project and subsidiary management plans will be reviewed and approved by the project sponsors, IPOC, and IV&V.  All funding decisions will also be made by the project Director and managed according to the Change Management Plan.  Any delegation of approval authority to or by the project director should be done in writing and signed by both the project sponsor and project manager.  </br></br>
The project team will be a matrix in that team members continue to report to their organizational management throughout the duration of the project.  The appropriate Service Manager is responsible for communicating with organizational managers on the progress and performance of each project resource.
 
		</p>
		
		<strong>3.1.1 The 12 Agile Principles</strong></br>
		
		These are a set of guiding concepts that support the project team with implementing this agile project. 

<ul>		
<li>1.	Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
<li>2.	Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage.</li>
<li>3.	Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</li>
<li>4.	Business people and developers must work together daily throughout the project.</li>
<li>5.	Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</li>
<li>6.	The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</li>
<li>7.	Working software is the primary measure of progress.</li>
<li>8.	Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</li>
<li>9.	Continuous attention to technical excellence and good design enhances agility.</li>
<li>10.	Simplicity — the art of maximizing the amount of work not done — is essential.</li>
<li>11.	The best architectures, requirements, and designs emerge from self-organizing teams.</li>
<li>12.	At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</li>
</ul>

		
		<p><h3>3.2 Scope</h3>

The scope of the project includes the planning, design, development, testing, and transition of the CWS/CMS application from the legacy architecture into a digital services platform.  The below is based on point-in-time prioritization and is subject to change based on lessons learned from Intake and API procurements.  The CWDS NS project plans to cover the following:

<ul style="list-style-type:disc">
<li>
API Module</li>
<li>
Intake Module
</li>
<li>
Care Licensing Approval Services (CALS) Module
</li>
<li>
Platform Module
</li>
<li>
Case Management Module
</li>
<li>
Resource Management Module
</li>
<li>
Court Processing Module
</li>
<li>
Eligibility Module
</li>
<li>
Finance Management
</li>
</ul>

With these modules, the project will also need to manage a separate vendor to conduct the implementation aspects of the modules.  Each module will use Alpha and Beta Phases in lieu of UAT/Pilot, follow a phased rollout (i.e. incremental) or big bang on at least a quarterly basis, and counties can elect to participate in a particular wave depending on the level of released functionality and availability of implementation resources.  These modules will meet or exceed organizational software standards and additional requirements established in the project charter.  </br></br>
The scope of this project also includes completion of all documentation, manuals, and training aids used in conjunction with each of the modules.  Project completion will occur with successful execution of the software in production and documentation successfully transitioned to the state.</br></br>
All project work performed as pertinent to each SOW and all artifacts will be stored within GitHub for access to all.  


 
		</p>

		<p><h3>3.3 Methodology</h3></br>
		The project has adopted a specific type of Agile Scrum Methodology.  With this approach, the project will go through many repetitions of the following seven steps through completion of the project.</br></br>
		
		<strong>Step 1:  The initial planning for your project</br></strong>
Project planning includes creating a product vision statement and a product or service roadmap.  The product vision is a definition of what your product or service is, how it will support the project strategy, and who will use the product or service; which can take place in as little time as one day.</br></br>
<strong>Step 2: The service manager creates a product roadmap.</strong></br>
The product roadmap is a high-level view of the product or service requirements, with a loose period for when you will produce those requirements.  Identifying requirements, then prioritizing, and roughly estimating the effort for those requirements are a large part of creating your product roadmap. </br></br>
<strong>Step 3: The service manager creates a release plan.</strong> </br> 
Planning the next set of features to release and identifying an imminent launch date around which the team can mobilize.  The release plan identifies a high-level timetable for the release of an artifact into production.  An agile project will have many releases, with the highest-priority features usually launching first.  The project has pre-set 90-day release, which include 6 sprints based on the fact sprints being 2 week iterations.</br></br>
<strong>Step 4: The Service Manager, the scrum master, and the development team plan sprints.</strong></br>
A meeting at the start of each sprint, where the scrum team determines what requirements will be in the upcoming iteration, a sprint goal.  They also identify the requirements that support this goal and will be part of the sprint, and the individual tasks it will take to complete each requirement.  This is a short cycle, in which the team creates potentially shippable or minimum viable product functionality.  The project sprints, sometimes-called iterations, typically last for two weeks.  Sprints can last as little as one day, but should not be longer than four weeks.  Sprints should remain the same length throughout the entire projects.</br></br>
<strong>Step 5: during each sprint, the development team has daily meetings.</strong></br>
A 15-minute meeting held each day in a sprint, where team members state what they completed the day before, what they will complete on the current day, and whether they have any impediments.</br></br>
<strong>Step 6: the team holds a sprint review.</strong></br>
A meeting at the end of each sprint, attended by the service manager, where the team demonstrates the working functionality it completed during the sprint to the product stakeholders.</br></br>
<strong>Step 7: the team holds a sprint retrospective.</strong></br>
A meeting at the end of each sprint where the team discusses what went well, what could change, and how to make any changes for improvements in the next sprint.  Like the sprint review, you have a sprint retrospective at the end of every sprint.

</a>

 
		</p>
		
		<p><h3>3.4 Iterative vs. Waterfall</h3></br>
		
		CWDS made the change from a monolithic waterfall approach to an iterative agile approach to revise the CWS/CWS application.  One of the differences between agile and waterfall is the approach to quality and testing.  In the waterfall model, there is always a separate testing phase after a build phase.  However, with agile, development testing works concurrently with, or at least in the same iteration as, programming. </br></br> 
Because testing is done in every iteration, which develops a small piece of the software, users can frequently use those new pieces of software and validate the value.</br></br> 
After the users know the real value of the updated piece of software, they can make better decisions about the software's future.  Having a value retrospective and software re-planning session in each iteration, scrum sprints are typically just two weeks in duration, which helps the team continuously adapt its plans to maximize the value it delivers. </br></br>
This iterative practice also introduces a product mindset rather than the waterfall model's project mindset.  The product approach implies greater flexibility at any stage of the development process, while project requirements tend to be perfectly defined from the very beginning and difficult to change later in the process.  Iterative product development is ongoing as the software evolves due to any changes in business environment or market requirements.
</p>

		
		<p><h3>3.5 Objective and Goals</h3></br>
		
		The project plans to keep the existing CWS/CMS IBM application running in production, while incrementally introducing new digital services (DS).  CWDS will release each new DS as a beta service for a few pre-approved CA Counties to utilize, while the remaining counties continue to utilize the existing legacy CWS/CMS IBM system.  The beta county results will dictate when the DS will change to general availability (GA).  Upon GA approval, the remaining counties will migrate to use the DS and the existing CWS/CMS IBM application will disable the specific legacy function.  As the project continues to introduce new DS, the legacy CWS/CMS IBM application will continue to disable functionality appropriate with the DS, until all the functionality is contained with DS.
		</br></br>
		
		<strong>3.5.1 Project Schedule</strong></br>
		The project schedule milestones; Planning, Solicitation, Design & Development, Implementation, and Closure can be found within the <a href="https://ca-cwds.github.io/dss/schedule_management_plan.html">Schedule Management Plan, section 6.</a></br></br>

<strong>3.5.2 Project Cost</strong></br>
The project Cost Management Plan identifies the processes and guidelines for ensuring the project is completed within budget and adheres to all applicable State and federal regulations pertaining to cost management
</p>



		
		

</div>

      </li>
      <!--THIS IS WHERE YOU EDIT SECTION FOUR-->
      <li>
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-4">
          Chapter 4: Phase Close-Out & Lessons Learned
        </button>
        <div id="collapsible-4" aria-hidden="true" class="usa-accordion-content">	

<h3>4.1 Conducting Formal Lessons Learned</h3>
<p>
The lessons learned documentation represents knowledge and experience gained during the project.  It documents how to address project events, and how they should be addressed in the future, with the purpose of improving future performance.  The Quality Management Plan.

</p>

		
<h3>4.2	Project Status Reports (Oversight)</h3>
<p>
The final Project Status Report communicates an appraisal of project closing activities to the Project Sponsor(s) and key Stakeholders identified in the Communication Management Plan.  This also concludes the reporting of project status and tasks and makes note of issues or items handled upon project closure.
</p>


<h3>4.3	Project Closeout Report</h3>
<p>
The project closeout report documents the final and remaining activities of the project.
</p>

<h3>4.4	Post Implementation Evaluation Report (PIER)</h3>
<p>
The PIER must be submitted to the Department of Technology (CDT) within the Department’s required time frame.  It contains six sections:
<ul>
<li>1.	Background and Summary of Results</li>
<li>2.	Attainment of Objectives</li>
<li>3.	Lessons Learned</li>
<li>4.	Corrective Actions</li>
<li>5.	Project Management Schedule</li>
<li>6.	Economic Summary</li>
</ul>
</p>
		
</div>
		
        
      </li>
      
    </ul>
		</div>

</main>