<% provide(:title, "CWDS Requirements Management Plan") %>
<main class="usa-grid usa-section" id="main-content">

		<div class="styleguide-content usa-content">
<h2>CWDS Requirements Management Plan</h2>

<p>This page is currently under development</p>

  <div class="usa-accordion">
    <ul class="usa-unstyled-list">
      <li>
	  <!--THIS IS WHERE YOU EDIT CHAPTER ONE-->
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-1">
          Chapter 1: Introduction
        </button>
        <div id="collapsible-1" aria-hidden="true" class="usa-accordion-content">
		
		<p>Requirements are the foundation of a project’s scope, quality planning, and procurement activities. Requirements management is a continuous process throughout the life of the project. Maintaining the integrity of these requirements throughout the life of the project is vital to the success of the quality of the system that is implemented. 
</br></br>
In the new world of Agile, requirements are documented through the creation of user stories that live within a specific feature called an epic. These user stories will document the business and functional needs of the Project and will serve as the Product Backlog of the work to be completed once the vendors are selected. Requirements traceability will still need to be conducted in this Agile environment. Previously, using the Waterfall approach, baselined business and technical requirements were traced to the Feasibility Study Report and Special Project Reports. Now, using the Agile approach, the epics are traced to the previously baselined requirements.

</p>
<h3>1.1	Purpose</h3>
<p>
The Requirements Management Plan (RMP) identifies the processes used to plan, develop, monitor and control requirements in all stages of a project’s lifecycle. This document is the foundation for all project requirement management policies for the CWS-NS Project.
</p>

<h3>1.2	Policy</h3>
<p>The Project used Microsoft Excel to document and manage the business functional and technical system requirements elicited prior to adopting the Agile approach. The Project is using Pivotal Tracker to document and manage user stories (requirements). The Project will be using Microsoft Excel to document and manage the traceability matrix.
</p>

<h3>1.3	Scope</h3>
<p>This version of the CWS-NS RMP focuses on the following processes:</p>
<ul>
<li>Requirements Identification</li>
<li>Requirements Evaluation</li>
<li>Requirements Validation</li>
<li>Requirements Baseline</li>
<li>Requirements Control</li>
</ul>

<strong>1.3.1 In-Scope</strong></br>
<ul>
<li>Requirements Identification</li>
<li>Requirements Evaluation</li>
<li>Requirements Validation</li>
<li>Requirements Baseline</li>
<li>Requirements Control throughout life of the project</li>
<li>Requirements Traceability</li>
</ul>

<strong>1.3.2 Out-of-Scope</strong></br>
<p>The process used to manage requirement changes are documented in the CWS-NS Change Management Plan.</p>

<h3>1.4	Document Maintenance</h3>	
<p>This document will be reviewed and updated on an as needed basis. </br></br>
This document contains a revision history log. When changes occur, the version number will be updated to the next increment and the date, owner making the change, and change description will be recorded in the revision history log of the document. </br></br>
There will be a need for the refinement of existing user stories and the subsequent delivery of detailed system requirements specifications. As such, this RMP will be updated to reflect any changes made to the processes used to monitor and control requirements based on a collaborative plan established with the selected vendors. 
</p>

        </div>
      </li>
      <!--THIS IS WHERE YOU EDIT CHAPTER TWO-->
      <li>
        <button class="usa-button-unstyled"
            aria-expanded="false" aria-controls="collapsible-2">
          Chapter 2: Roles and Responsibilities
        </button>
        <div id="collapsible-2" aria-hidden="true" class="usa-accordion-content">
	<p>Figure 1 – Roles and Responsibilities</p>
	
	<body lang=EN-US style='tab-interval:.5in'>

<div class=WordSection1>

<table class=MsoTable15Plain1 border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;mso-border-alt:solid #BFBFBF .5pt;
 mso-border-themecolor:background1;mso-border-themeshade:191;mso-yfti-tbllook:
 1184;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
 <tr style='mso-yfti-irow:-1;mso-yfti-firstrow:yes;mso-yfti-lastfirstrow:yes'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;mso-border-alt:
  solid #BFBFBF .5pt;mso-border-themecolor:background1;mso-border-themeshade:
  191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-yfti-cnfc:5'><b><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'>Role<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-left:none;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-yfti-cnfc:1'><b><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:Arial;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Responsibility</span></b><b><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:0'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Executive Leadership Team (ELT)<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-left:.5in;mso-add-space:
  auto;mso-list:l6 level1 lfo6;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>A Sponsor designee will be involved
  in early reviews of draft requirements and participate in JADs.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:.5in;mso-add-space:
  auto;mso-list:l6 level1 lfo6;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>May be called upon if an issue is
  escalated to the ELT.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-left:.5in;mso-add-space:auto;
  mso-list:l6 level1 lfo6;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Reviews and approves baselined
  requirements.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Service Directors<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-left:.5in;mso-add-space:
  auto;mso-list:l7 level1 lfo2'><![if !supportLists]><span style='font-family:
  Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Accountable
  for ensuring the project remains within scope, budget and in compliance with
  Best Practices and policies.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-left:.5in;mso-add-space:auto;
  mso-list:l7 level1 lfo2'><![if !supportLists]><span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Monitors
  the progress of the project, provides regular status and makes approval
  recommendations to the ELT.</span><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Project Management Office (PMO)<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-left:.5in;mso-add-space:
  auto;mso-list:l7 level1 lfo2;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Accountable
  for ensuring requirements plans and supporting methodologies (e.g. processes,
  procedures, standards, and templates) are in compliance with Best Practices
  and policies<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-left:.5in;mso-add-space:auto;
  mso-list:l7 level1 lfo2;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Monitors
  the progress of the requirements, provides regular status and makes approval
  recommendations to the Project Director.</span><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Service Managers<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Set priorities, develop user
  stories and make/document decisions about features and technical
  implementation details based on user, policy, technical and business requirements.</span></span><span
  class=normaltextrun><span style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:
  minor-latin;mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
  minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;
  mso-bidi-theme-font:minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Translates user research into
  user stories.&nbsp;</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Defines the product vision and
  delivers the vision statement.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Develops and prioritizes and
  delivers the Product Backlog </span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'>and refines the backlog as needed.</span></span><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Scrum Masters<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Deliver projects and products
  using the appropriate agile project management methodology.</span></span><span
  class=normaltextrun><span style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:
  minor-latin;mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
  minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;
  mso-bidi-theme-font:minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Work with service manager to
  define the roadmap and deliver the Product Roadmap.</span></span><span
  class=normaltextrun><span style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:
  minor-latin;mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:
  minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;
  mso-bidi-theme-font:minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Monitors team scrum analytics
  and reports on progress.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Coaches the team, protects the
  team and protects the scrum process.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Log action items that are
  specific&nbsp;to the service team or that are enterprise/global or dependent
  on other service teams.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Removes impediments and acts as
  liaison with other departments.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Own the Pivotal tool
  setup/changes and work with the Schedule Manager to set up the backlog in the
  tool.</span></span><span class=normaltextrun><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:"Times New Roman";
  mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;
  mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Partner with Product Owner for
  backlog development, refinement, <span class=GramE>release</span> planning
  and roadmap development.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  class=normaltextrun><span style='font-family:Symbol;mso-fareast-font-family:
  Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Work with the Project Scheduler
  to ensure work being tracked in the Agile Platform is represented and updated
  at the milestone level in MS Project.</span></span><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span class=normaltextrun><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;color:black;mso-themecolor:text1'>Facilitates the daily scrum
  meetings, sprint review meetings, and the sprint retrospective meetings.</span></span><span
  style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:minor-latin;
  mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:minor-fareast;
  mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Requirements Manager (RM)<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Participates in internal meetings to
  help define requirements; identify and communicate outstanding issues and
  initiates resolution activities<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Writes draft requirements document;
  plans, schedules and prepares for internal walkthroughs and Joint Application
  Development (JAD) sessions<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Incorporates feedback and comments
  into draft requirements; and sends revised document to stakeholders for
  review and approval.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l5 level1 lfo3;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Works closely with the Service
  Delivery teams and Independent Verification &amp; Validation (IV&amp;V) to
  ensure requirements traceability.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Technical Solution Manager <o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraph style='margin-left:.5in;mso-add-space:auto;
  mso-list:l2 level1 lfo4;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Accountable
  for ensuring that the system is technically sound, that the technical
  requirements are clear, fair and enables the system functions as
  proposed/designed.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>System Engineer/Lead System
  Developer<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-left:.5in;mso-add-space:
  auto;mso-list:l2 level1 lfo4'><![if !supportLists]><span style='font-family:
  Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Support
  the Technical Solution Manager primarily in providing technical leadership
  towards the development and tracking of the system business requirements and
  interfaces</span><span style='font-family:"Calibri",sans-serif;mso-ascii-theme-font:
  minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Calibri;
  mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-left:.5in;mso-add-space:auto;
  mso-list:l2 level1 lfo4'><![if !supportLists]><span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Arial;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Assists
  with technical analyses, and ensuring the final system meets all stated
  requirements. </span><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8;height:65.65pt'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt;
  height:65.65pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Subject Matter Experts (SME)<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt;
  height:65.65pt'>
  <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
  0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;mso-list:l1 level1 lfo5;
  mso-layout-grid-align:none;punctuation-wrap:simple;text-autospace:none;
  vertical-align:baseline;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Accountable for review of functional
  and technical components of the requirements and assume part ownership of
  those sections pertaining to their area of system expertise.<span
  style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Program/Policy Subject Matter Expert<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l1 level1 lfo5;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Accountable for review of the draft
  requirements as an expert in the program and policies of the subject area.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;mso-add-space:auto;
  mso-list:l1 level1 lfo5;mso-layout-grid-align:none;punctuation-wrap:simple;
  text-autospace:none;vertical-align:baseline'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Verify the accurate interpretation
  of implementation letters and/or legal mandates.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10;height:105.25pt'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt;
  height:105.25pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:68'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>IV&amp;V Analyst<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;background:#F2F2F2;mso-background-themecolor:
  background1;mso-background-themeshade:242;padding:0in 5.4pt 0in 5.4pt;
  height:105.25pt'>
  <p class=MsoListParagraphCxSpFirst style='margin-left:.5in;mso-add-space:
  auto;mso-list:l4 level1 lfo7;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Responsible for execution of all
  activities defined in the IV&amp;V contract and SOW<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:.5in;mso-add-space:
  auto;mso-list:l4 level1 lfo7;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Validating and verifying that project
  and contractor products adhere to industry standards, and that all delivered
  products meet defined requirements, specifications, and/or user stories.<o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpLast style='margin-left:.5in;mso-add-space:auto;
  mso-list:l4 level1 lfo7;mso-yfti-cnfc:64'><![if !supportLists]><span
  style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Document formal requirements
  traceability.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11;mso-yfti-lastrow:yes;height:105.25pt'>
  <td width=182 valign=top style='width:108.9pt;border:solid #BFBFBF 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:191;border-top:none;
  mso-border-top-alt:solid #BFBFBF .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt;height:
  105.25pt'>
  <p class=MsoNormal style='mso-yfti-cnfc:4'><b><span style='font-family:"Calibri",sans-serif;
  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
  Calibri;mso-bidi-theme-font:minor-latin'>Oversight Analyst<o:p></o:p></span></b></p>
  </td>
  <td width=465 valign=top style='width:279.0pt;border-top:none;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:191;border-right:solid #BFBFBF 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:191;mso-border-top-alt:solid #BFBFBF .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:191;
  mso-border-left-alt:solid #BFBFBF .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:191;mso-border-alt:solid #BFBFBF .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:191;padding:0in 5.4pt 0in 5.4pt;height:
  105.25pt'>
  <p class=H3Text style='margin-left:.5in;text-indent:-.25in;mso-list:l3 level1 lfo8'><![if !supportLists]><span
  style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
  mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:11.0pt;font-family:
  "Calibri",sans-serif;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Responsible
  for providing oversight of the contractor performing IV&amp;V in accordance
  with the SOW and IV&amp;V contract.<o:p></o:p></span></p>
  <p class=H3Text style='margin-left:.5in;text-indent:-.25in;mso-list:l3 level1 lfo8'><![if !supportLists]><span
  style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
  mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:11.0pt;font-family:
  "Calibri",sans-serif;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Contract
  management and acceptance of IV&amp;V deliverables.<o:p></o:p></span></p>
  <p class=H3Text style='margin-left:.5in;text-indent:-.25in;mso-list:l3 level1 lfo8'><![if !supportLists]><span
  style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
  mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:11.0pt;font-family:
  "Calibri",sans-serif;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
  minor-latin;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'>Facilitation
  of oversight meetings with the CWS-NS Project, participation in project
  artifact reviews, change management meetings, risk and issue management
  sessions, and activities that result in decisions on project policy and/or
  process.<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>
	
</div>
        
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION THREE-->
      <li>
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-3">
          Chapter 3: Requirements Management Process
        </button>
        <div id="collapsible-3" aria-hidden="true" class="usa-accordion-content">
        
        <p>
		Successful implementation of the RMP requires coordination of all the organizations working on the CWS-NS Project. The Requirements Management Process, in conjunction with the Agile/scrum methodology, consists of the following: Initiation, Planning & Procurement, Development, Traceability, and Verification/Validation. The process is triggered by a request for a new program, system or service or a change to the same requirement. </br></br>

The Requirements Management Process is an iterative process controlled via the project’s Change Management process and interacting with other project management processes. </br></br>  

<h3>3.1	Initiation</h3>
During the Initiation phase of the project, a Feasibility Study Report was written to provide a proposed technical solution that will support the current and future needs of Child Welfare Services. Business requirements were defined, and a proposed technical solution was documented to address the business requirements.</br></br> 
The CWS-NS Project Charter was created as a preliminary scope statement outlining the high level scope and its meaning regarding the characteristics, parameters, and functionality of the project or new system.  Requirements were developed using Business Practice Packages (BPPs), and Joint Application Development sessions (JADs) with Subject Matter Experts (SMEs) to verify and validate the as-is business processes and requirements. The "as is" business requirements were used as reference material during the development of the CWS-NS system requirements. The business requirements are maintained in a Microsoft Word table that is managed by the Requirements Manager.</br></br>
During the Waterfall approach, the system requirements for both business and technical areas were developed using the Agile scrum process. Although the RFP was never released to the public, and the requirements were never formally baselined, the project is considering these approved requirements (version 7.5) baselined for the purpose of establishing a benchmark to assess future requirements analysis against. 

<h3>3.2	Planning & Procurement</h3>
During the Planning & Procurement Phase of the project, the Feasibility Study Report and Project Charter were used to define the Project’s Work Breakdown Structure (WBS), management of project cost, schedule, requirements, quality planning, and a process to manage changes to approved requirements. The Agile methodology, using the scrum process, was reintroduced to the Project, along with the Pivotal Tracker tool.</br></br>
The Service Delivery Teams develop user stories based on the business and technology needs, utilizing the business, functional, and technical requirements identified in the Initiation and Planning & Procurement phases. Requirements are fed into a Service Team’s product backlog within Pivotal Tracker; they're decomposed into sprint backlogs items/user stories through sprint planning; these user stories are then confirmed against the existing business requirements developed during initiation and Planning and a gap analysis is performed. 

<h3>3.3	Development</h3>
During the Development phase of the project, the user stories developed, based on the business and technical requirements, will be further defined. Transition requirements and quality requirements will be developed. The system requirements will be maintained in the Excel Spreadsheet to track any changes/modifications made during the solicitation process.</br></br>

The Service Manager’s role is to define the high-level scope in terms of epics or features, then the Scrum Master, working with the vendor and core team, decomposes those epics and features into user stories. The work items/user stories are pulled from the product backlog and directed by the Service Manager, with the process controlled and managed by the scrum master. The goal for the Service Teams is to make sure they feed the product backlog and can support and describe what needs to be built by the development team prior to the start of the sprint. 

<h3>3.4	 Traceability</h3>
Requirements traceability using the Agile methodology, ensures that the business need is tied to epics/features, along with the user stories contained within them, that have been developed based on the previously baselined v7.5 requirements and approved BPPs. Should business needs change, the Agile methodology embraces this and provides traceability through the use of Pivotal Tracker along with the requirements gap analysis being performed throughout user story development/refinement. The user stories will be tied to artifacts such as test cases, providing further traceability. The goal of tracing is to ensure that requirements (and ultimately, solution components) are linked back to a business objective. In other words, traceability ensures that every requirement has a business purpose, and that no requirement is superfluous.</br></br>
Traceability occurs throughout the life of the project. The Requirements Traceability Matrix (RTM) is currently maintained in an Excel workbook by the Requirements Manager. Requirements traceability will occur between the following: system requirements and epics, and system requirements and the BPPs.</br></br> 
Prior to accepting the system, requirements traceability shall be verified to ensure all requirements have been addressed in the design and testing phases. IV& is contracted to provide an independent review of the traceability in addition to the Quality Assurance contractor who has a role in validating the requirements. The ELT shall be included in the decision to accept the system and in the final signoff process. </br></br>
During system development, Quality Control review of the RTM is a key Deliverable of the Requirements phase and should also be reviewed and approved.  

<h3>3.5 Verification/Validation</h3>
During the Design, Development and Implementation (DD&I) phase of the project, the user stories will serve as the business, functional, and technical requirements and will be maintained by each Service Delivery Team using the Pivotal Tracker tool.  </br></br>

Figure 2 – Requirements Management & Traceability		
		
		
		</p>
		<a><img src="https://github.com/ca-cwds/ca-cwds.github.io/blob/master/assets/img/Plan%20Images/RM&T_Workflow.jpg?raw=true" alt="" target="_self">
</a>
</div>
      </li>
      <!--THIS IS WHERE YOU EDIT SECTION FOUR-->
      <li>
        <button class="usa-button-unstyled"
          aria-expanded="false" aria-controls="collapsible-4">
          Chapter 4: Requirements 
        </button>
        <div id="collapsible-4" aria-hidden="true" class="usa-accordion-content">	


		<p>
		Requirements Deliverables and Artifacts include, but are not limited to:
		
<ul>
<li>a)	The baselined requirements (v7.5)</li>
<li>b)	User Stories</li>
<li>c)	Requirements presentations</li>
<li>d)	Meeting Minutes recording decisions made in design sessions and/or JADs</li>
<li>e)	Design, Development, and Implementation Work Plan (note: the Work Plan should be baselined when the requirements are finalized)</li>
<li>f)	Requirement Quality Assurance Checklist</li>
<li>g)	Populated Requirement Traceability Matrix (RTM)</li>
<li>h)	Policy Letters, Regulations, and other legally mandated documents</li>
<li>i)	Written Policy Clarifications (if applicable)</li>
</ul>
</p>

		
<h3>4.1	Requirements Development</h3>
<p>
Once the contract has been awarded to the vendor, user stories will be further refined to provide the contractor with detailed business, functional and technical specifications for Design, Development and Implementation (DD&I).</br></br>
Requirements data may be collected utilizing a variety of tools and techniques including, but not limited to: </br>
<ul>
<li>a)	User stories</li>
<li>b)	Project Charter</li>
<li>c)	All relevant State and Federal legislation and regulations</li>
<li>d)	All relevant Federal and State Implementation Letters</li>
<li>e)	Written Policy Clarifications</li>
<li>f)	Information gathered from Subject Matter Experts (SMEs) </li>
<li>g)	Expectations of key stakeholders</li>
<li>h)	Joint Requirements Planning (JRP) Sessions</li>
<li>i)	Technical Assessment/Review</li>
<li>j)	Enterprise Architecture Review</li>
<li>k)	State and Federal security requirements</li>
<li>l)	Interviews</li>
<li>m)	Mind mapping</li>
<li>n)	Fishbone Diagramming</li>
<li>o)	Surveys</li>
<li>p)	Observations</li>
<li>q)	Prototyping </li>

</ul>

</p>

<strong>4.1.1 Requirement Constraints</strong></br>
System requirements can be influenced by many factors. These factors include, but are not limited to:
<ol>
<li>a) All relevant State and Federal legislation and regulations</li>
<li>b) All relevant Federal and State Implementation Letters</li>
<li>c) Expectations of key stakeholders</li>
<li>d) State and Federal security requirements</li>
</ol>

<strong>4.1.2 Requirements Documentation</strong></br>

<ul style="list-style-type:disc">
  <li>Business Requirements – The business requirements are described in the Feasibility Study Report and the Project Charter and are also further refined in the Request for Proposal, which forms the basis for the baseline of the requirements.</li>
  <li>Technical/System Requirements – A proposed technical solution is described in the Feasibility Study Report and the Project Charter and are also further refined in the Request for Proposal, which forms the basis for the baseline of the requirements.</li>
  <li>Project Requirements – Project requirements are described in the Feasibility Study Report, the Project Charter, the CWS-NS Project Management Plan, and the subsidiary project management plans.</li>
  <li>Quality Requirements – Validation of successful completion of a project deliverables or fulfilment of other project requirements are described in the Statement of Work, the System Integrator contract, support contracts, CWS-NS Quality Management Plan, the CWS-NS Deliverable Management Plan, and the CWS-NS Contract Management Plan.</li> 
</ul>

<strong>4.1.3 Requirements Review and Approval</strong></br>
<p>After composing an initial draft, the requirements document shall go through a series of reviews and iterations to refine the product prior to approval and finalization.  
</p>
<strong>4.1.4 Requirements Change Management</strong></br>
<p>After each level of requirements are accepted and baselined, any change to those requirements and related work products will be restricted and will only be made through the process defined in the project’s Change Management Plan.
</p>
		
</div>
		
        
      </li>
      
    </ul>
    </div>
      

		</div>

</main>